{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }],
    "react"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {}
      }
    ],
    "transform-promise-to-bluebird",
    "transform-react-display-name",
    "transform-class-properties",
    "transform-es2015-classes"
  ]
}
