@import '../variables.less';

#download{
    padding:0px;
    background-color: @bggreydark;
    border-bottom:@brd;
    margin:0px;
    .sub{
        &#current{
            margin:15px;
        }
        .input-group{
            width:100%;
        }
    }
    #downloader{
        margin:15px;
    }
    #downloads-section{
        width:100%;
        background-color:white;
        border-top:@brd;
        margin:0px;
        
        
        label{
            margin:10px 15px 5px 15px;
        }
        table{
            border-top:@brd;
            
            height:100px;
            thead{
                
            }
            tbody{
                
                overflow:scroll;
            }
            width:100%;
            margin:3px 0px;
            th{
                padding:0 15px;
                &.title{
                    width:60%;
                }
                &.status{
                    width:40%;
                }
            }
            tr.dl-row{
                height:25px;
            }
            td{
              
                overflow:hidden;
                word-wrap: break-word;
                text-overflow:ellipsis;
                white-space: nowrap;
               
                padding:2px 15px;
                &.status{
                    width:40%;
                }
                &.title{
                    width:60%;
                    max-width:280px;
                }
            }
            @media(max-width:@screenmed){
                height:100px;
                td.title{
                    max-width:200px;
                }
            }
        }
    }
    .form-control.history-select{
      
        width: 100%;

        option{
            overflow: ellipses;
        }
    }
}