@import 'variables.less';

#download{
    padding:10px;
    background-color: @bggreydark;
    .sub{
        margin: 10px;
        .input-group{
            width:80%;
        }
    }
    .form-control.history-select{
      
        width: 80%;

        option{
            overflow: ellipses;
        }
    }
}