@import '../variables.less';

#download{
    padding:0px;
    background-color: @bggreydark;
    border-bottom:@brd;
    margin:0px;
    .sub{
        &#current{
            margin:15px;
        }
        .input-group{
            width:100%;
        }
    }
    #downloader{
        margin:15px;
    }
    #downloads-section{
        width:100%;
        background-color:white;
        border-top:@brd;
        margin:0px;
        
        label{
            margin:10px 15px 5px 15px;
        }
        #downloads-available{
            display:block;
            overflow: scroll;
            height: 105px;
            @media(max-width: @screenlarge){
                height:75px;
            }
        }
        table{
            border-top:@brd;
            width:100%;
            tr.dl-row{
                td.status{
                    width:40%;
                    max-width:180px;
                    overflow: hidden;
                    word-wrap: break-word;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding:2px 15px; 
                }
                td.title{
                    width: 60%;
                    max-width:280px;
                    overflow: hidden;
                    word-wrap: break-word;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    padding:2px 15px;                
                }                
            }                
            margin:3px 0px;
            th{
                padding:0 15px;
                &.title{
                    width:60%;
                }
                &.status{
                    width:40%;
                }
            }
            @media(max-width:@screenmed){
                height:100px;
                td.title{
                    max-width:200px;
                }
            }
        }
    }
    .form-control.history-select{
      
        width: 100%;

        option{
            overflow: ellipses;
        }
    }
}