@import '../variables.less';

#results{
    margin:auto;
    margin-top:0px;
    //border-top:1px solid #fefefe;
    //background-color: @idblightgreen;
    padding-top:8px;
    h4{
        
        margin:0px;
        margin-left:10px;
        margin-top:3px;
        padding:0px;
    }
    #results-menu{
        list-style-type: none;
        margin:0px;
        margin-left:20px;
        padding:0px;
        li:first-letter{
            text-transform: capitalize;
        }
        li{
            text-transform: capitalize;
            display:inline;
            margin:0px 4px;
            font-size:1.3em;
            letter-spacing:.08em;
            font-weight:bold;
            border: @brd;
            border-bottom:none;
            padding:4px 8px 4px 8px;
            border-radius:3px 3px 0px 0px;
            cursor: pointer;
            background-color:@idblightgreen;
            color:#444;
            &.active{
                position:relative;
                background-color:white;
                padding-pottom:5px;
                cursor: auto;
                color:#333;
                box-shadow: 0px -1px 1px #eee;
            }
        }
    }
    #results-menu.active{

    }
    .total{
        margin-right:10px;
        font-weight:bolder;
    }

    #result-list{
        .modal-dialog{
            z-index: 4050;
            width:70%;
            @media(max-width: @screenmed){
                width:70%;
            }
            @media(max-width: @screensmall){
                width:80%;
            }
            margin:20px auto;
        }
        #column-list{
            table{ 
                float:left;
                width:210px;
                margin-bottom:20px;
                clear:none;
             
                tr{
                    height:20px;
                }
                label{
                    font-weight:normal;
                    input{
                        margin-right:5px;
                    }
                    &:hover{
                        cursor:pointer;
                    }
                }
            }
            #reset{
                margin-left:10px;
            }
        }
        #data-table{
            table-layout: fixed;
            th{
                i{
                    margin-left:8px;
                }
                cursor:pointer;
                &:hover{
                    background-color:#e5e5e5;
                }
            }
            tbody{
                tr{
                    height: 30px;
                    cursor: pointer;
                    &:hover{
                        background-color:#f5f5f5;
                    }
                    &.no-results-row{
                        font-weight:bold;
                        width: 100%;
                        text-align:center;
                        height:50px;
                        font-size: 1.2em;
                        border-bottom:@brd;
                        td{
                            padding:20px;
                        }
                    }
                    td{
                        overflow:hidden;
                        height:30px;
                        word-wrap: break-word;
                        text-overflow:ellipsis;
                        white-space: nowrap;
                        span.no-data{
                            color:#aaa;
                            font-style:italic;
                        }
                        &.open{
                            button{
                                width:30px;
                                height:22px;
                            }
                        }
                    }
                }
            }
        }
    }
    #result-labels{
        padding-top:10px;
        width:100%;
        .label-loading{
            width:100%;
            height:40px;
            text-align: center;
            padding:10px;
        }
        .result-label{
            //width:15.9%;
            //height:70px;
            position:relative;
            width:24.55%;
            height:150px;
            overflow:hidden;
            border: 4px double #bbb; 
            border-radius:1px; 
            -webkit-border-radius:3px;
            -moz-border-radius:3px;
            background-color:#f5f5f5;
            margin:3px;
            padding:3px 8px;

            //text-shadow: 0px 1px 0px #fff;
            /*webkit only */
            display: -webkit-box;
            -webkit-line-clamp: 7;
            -webkit-box-orient: vertical;
            @media (max-width: 1790px){
              
                width:32.0%;
                margin:5px;
              
            }
            @media (max-width: 1210px){
              
                width:48.0%;
                margin:8px;
              
            }
            @media(max-width: 820px){
                width:98%;
            }
            &:hover{
                
                //background-color: #e5e5e5;
            }
            h5.title{
                
                font-weight:bold;
                display:inline-block;
                max-width:65%;
                max-height: 35px;
                overflow:hidden;
                text-overflow: '...';
                font-style:italic;
                line-height: 1.25em;
                text-decoration: underline;
                .author{
                    font-style:normal;
                    color:#666;
                }
                margin:2px;
                paddding:6px;
                
                &:hover{
                    cursor:pointer;
                    text-decoration: underline;
                }
            }
            h5.family{
                font-color:#333;
                font-size:.9em;
                position:absolute;
                right:10px;
                top:5px;
                margin:2px;
                padding:0px;
                font-weight:bold;
                font-style:italic;
            }
            .content{
                margin-top:5px;
                line-height:1.19em;
                font-size:.85em;
                height:102px;
                max-width:70%;
                span{
                    font-weight:normal;
                    position:absolute;
                    display:inline-block;
                    margin:2px;
                    float:left;
                    clear:both;
                    &.date{
                        bottom:2px;
                        right:10px;
                    }
                    &.locality{
                        max-height:40px;
                        text-oveflow: ellipsis;
                        overflow:hidden;
                        top:40px;
                        max-width:70%;
                    }
                    &.geopoint{
                        bottom:40px;
                    }
                    &.collection{
                        bottom:20px;
                    }
                    &.highertaxa{
                        font-style:italic;
                        bottom:2px;
                    }
                }
            }

            .image-wrapper{
                position:absolute;
                right:5px;
                top:20px;
                margin-top:5px;
                cursor:pointer;
                .image-count{
                      font-size:.8em;
                      position: absolute;
                      top:3px;
                      right:5px;
                      color:white;
                      padding:2px;
                      z-index:90;
                      opacity:.9;
                      border-top-right-radius: 3px;
                      background-color:#333;
                      opacity:.9;   
                      font-weight:bold; 
                      border:1px solid white;       
                }
                img{
                    margin:3px 5px;
                    max-height:90px;
                    max-width:98px;
                    /*box-shadow:1px 1px 0px #bbb;
                    -webkit-box-shadow:1px 1px 0px #bbb;
                    -moz-box-shadow:1px 1px 0px #bbb;*/
                    border: @brd;
                    border-radius:3px;
                    &:hover{
                        border:1px solid blue;
                    }
                }
            }
            .links{
                display:inline-block;
                height:3
            }
        }
    }
    #results-images{
        padding-top:10px;

        #images-wrapper{
            display:block;
            margin:auto;
            width:98%;
            #loading-images{
                clear:both;
                width:100%;
                height:40px;
                text-align: center;
                padding:10px;
                display:block;
            }
        }
        
        .image{
            height:230px;
            width:13.80%;
            background-color:@bggreydark;
            margin:4px;
            float:left;
            border-radius:0px;
            border:@brd;
            position: relative;
            &:hover{
                background-color: #e5e5e5;
            }
            @media(max-width: @screenmed){
                width:32.0%;
            }

            @media (max-width: 1790px){
              
                width:19.0%;
                margin:5px;
              
            }
            @media (max-width: 1210px){
              
                width:31.0%;
                margin:8px;
              
            }
            @media(max-width: 820px){
                width:46%;
            }
            @media(max-width: 600px){
                width:98%;
            }
            .img-count{
                display:block;
                float:right;
                color: white;
                margin:0px 0px;
                padding:1px 3px;
                position:relative;
                z-index:10;
                font-size: .80em;
                font-weight:bold;
                background-color:#888;
                opacity:.7;
            }
            .gallery-image-text{
                width:100%;
                min-height:50px;
                background-color:#555;
                opacity:.8;
                /*display:none;*/
                line-height:1.1em;
                position:absolute;
                bottom:0px;
                color:white;
                font-size:1em;
                border-radius: 0px;
                .title{
                    font-weight:bold;
                    font-style: italic;
                    margin-right:5px;
                }
                .image-text{
                    margin:3px 8px;
                }
            }
        }
        .no-images{
            text-align: center;
            height:30px;
            h4{
                font-weight:bold;
            }
        }
    }
    .panel{
        margin:0px auto;
        padding:0px 0px;
        background-color: white;
        border-top: @brd;
        width:100%;
        float:left;
        .image{
            width:200px;
            height:190px;
            position:relative;
            display:inline-block;
            img{
              position:absolute;
              margin:auto;
              top:0;
              bottom:0;
              left:0;
              right:0;
              max-height:85%;
              max-width:85%;
              box-shadow:0px 0px 3px #888;
            }
        }
    }

}