@import 'variables.less';

#sorting{
    width:50%;
    display:block;
    float:left;
   
    min-height:100px;

    .option-group-add{
        text-align: right;
        padding:4px 7px;
        background-color:@bggreydark;
        border-bottom: @brd2;
        
        margin-top:0px;
    }
    label{
        margin:2px 10px;
    }
    .option-group{
        .direction{
            width:90px;
        }
        .name{
            width:200px;
        }
        button{
            float:right;
            margin:4px 5px;
        }
    }
    #sort-group{
        overflow-y:scroll;
        position:relative;
        height:273px;
        margin:0px;
        padding:0px;        
    }
}
