@import 'variables.less';

#sorting{
    width:50%;
    display:block;
    float:left;
   
    min-height:100px;
    #sort-add{
        text-align: right;
        padding:4px 20px;
        background-color:@bggreydark;
        border-bottom: @brd2;
        
        margin-top:0px;

    }
    label{
        margin:2px 10px;
    }

    #sort-group{
        overflow-y:scroll;
        position:relative;
        height:273px;
        margin:0px;
        padding:0px; 
        //react RCTgroup 
        .sort-trans-enter{
            opacity: 0.01;
            transition: opacity .4s ease-in;
        }
        .sort-trans-enter.sort-trans-enter-active {
            opacity: 1;
        }
        .sort-trans-leave{
            opacity: 1;
            transition: opacity .2s ease-in;
        }
        .sort-trans-leave.sort-trans-leave-active {
            opacity: 0.01;
        }
        .option-group{
            label{
                width:17%;
                margin:6px 10px 2px 5px;
            }
            .direction{
                width:23%;
                float:left;
                @media(max-width: @screenmed){
                    width:20%;
                }
            }

            .name{
                float:left;
                width:42%;
                @media(max-width: @screenmed){
                    width:40%;
                }
            }
            button{
                float:right;
                margin:4px 2px;
            }
        }       
    }
}
