.link-cell {
  text-align: center;
}
.griddle-body table thead tr th {
  text-align: left;
}
.griddle-filter .row {
  margin-left: 0px;
  margin-bottom: 10px;
}
.griddle-filter .row input {
  width: 206px;
}
