#contacts {
  margin: 10px 0px 0px 0px;
  display: block;
}
#contacts h2.title {
  font-size: 16px;
}
#contacts table.contact {
  margin-bottom: 10px;
  float: left;
  width: 30%;
  min-width: 300px;
}
#contacts table.contact td {
  vertical-align: top;
  padding: 1px 3px;
}
#contacts table.contact td.name {
  font-weight: bold;
}
#contacts table.contact td i {
  color: #999;
}
