.count {
  text-align: center;
  height: 60px;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: .04em;
  padding: 5px;
}
.count .name {
  font-size: .9em;
}
#count-row {
  background-color: #a4cc95;
}
#search-row {
  text-align: left;
}
#search-row h4 {
  text-align: center;
}
h4 {
  text-align: center;
  color: #555;
  font-weight: bold;
  font-size: 1.5em;
}
.chart {
  max-height: 200px;
}
#search-form-group {
  width: 100%;
}
@media (max-width: 992px) {
  #search-form-group {
    width: 90%;
    margin: 0px 20px;
  }
}
#search-form-group .input-group {
  width: 100%;
}
.lightgreen {
  background-color: #eef5eb;
}
#stats-row {
  padding: 20px;
  border-bottom: 2px solid #d0e5c8;
  border-top: 2px solid #d0e5c8;
}
#welcome {
  font-size: 1.4em;
  line-height: 1.2em;
  padding: 30px 10px 0px 10px;
  margin-top: -10px;
}
#welcome p {
  text-align: justify;
}
#search {
  margin-bottom: 20px;
  padding: 0px 10px;
}
#jump {
  text-align: center;
  font-weight: bold;
}
#jump .jump {
  margin: 10px;
  font-size: 1.2em;
}
