.count {
  text-align: center;
  height: 60px;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: .04em;
  padding: 5px;
}
.count .name {
  font-size: .9em;
}
#count-row {
  background-color: #a4cc95;
}
#search-row {
  text-align: left;
}
h4 {
  text-align: center;
  color: #555;
  font-weight: bold;
}
.chart {
  max-height: 200px;
}
#search-form-group {
  width: 90%;
  max-width: 390px;
}
@media (max-width: 992px) {
  #search-form-group {
    width: 90%;
    margin: 0px 20px;
  }
}
#search-form-group .input-group {
  width: 100%;
}
#search-form-group .input-group max-width:200px .btn {
  max-width: 20px;
}
#stats-row {
  background-color: #eef5eb;
}
