.count {
  text-align: left;
  height: 60px;
  background-color: #6aaa51;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: .04em;
  padding: 5px;
}
.count .name {
  font-size: .9em;
}
h4 {
  text-align: center;
}
.chart {
  max-height: 200px;
}
