#title h1 span.title {
  margin: 0px 0px;
  max-width: 1600px;
  color: #333;
  cursor: pointer;
  font-weight: normal;
  padding-bottom: 5px;
  font-size: 28px;
}
#title h1 span.title .title-addition {
  font-size: .65em;
  margin: 0px 15px;
}
#title h2 {
  font-size: 12px;
  margin: 10px 0px 20px 0px;
}
body {
  font-size: 13px;
}
h3 {
  color: #333;
  font-size: 1.63em;
}
.justify {
  text-align: justify;
}
.button {
  margin: 5px;
  display: inline-block;
}
.contact,
.contact li {
  text-decoration: none;
  list-style: none;
  word-break: break-word;
}
.section {
  margin-bottom: 20px;
}
#contacts {
  margin-top: 15px;
}
#container {
  margin-top: 20px;
}
#side-nav {
  position: absolute;
  left: 0;
  padding-right: 30px;
}
#side-nav #side-nav-list {
  list-style-type: none;
  margin-top: 120px;
}
#side-nav #side-nav-list li a {
  display: block;
  font-size: 15px;
  text-align: left;
  border-left: 3px solid transparent;
  padding-left: 26px;
  font-weight: normal;
  cursor: pointer;
  letter-spacing: .035em;
  color: #333;
  text-decoration: none;
}
#side-nav #side-nav-list li a.active {
  border-left: 3px solid #6aaa51;
  font-weight: bold;
}
#side-nav #side-nav-list li a:hover,
#side-nav #side-nav-list li a:visited {
  text-decoration: none;
}
#side-nav #side-nav-list.affix {
  margin-top: 0px;
}
#data-content {
  width: 100%;
  float: left;
  background-color: #ececec;
  margin: 10px 0px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
@media (max-width: 992px) {
  #data-content {
    width: 100%;
    float: none;
  }
}
#data-table {
  display: inline-block;
  width: 100%;
}
#data-table #raw,
#data-table #record {
  border-top: 1px solid #cccccc;
  padding-top: 20px;
}
#data-table table tbody tr td {
  width: 50%;
}
#data-table table tbody tr td.value {
  width: 50%;
  overflow: hidden;
  white-space: pre-line;
  word-break: break-word;
}
#data-table table tbody tr td.value a {
  overflow: hidden;
  white-space: pre-line;
}
#data-table table tbody tr td.name {
  font-weight: normal;
  width: 50%;
}
#data-table ul {
  font-size: 17px;
  padding: 0px;
  margin: 0px;
}
#data-table ul li {
  cursor: pointer;
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
  color: #666;
}
#data-table ul li.active {
  color: #333;
  border-bottom: 3px solid #6aaa51;
}
#other-images {
  text-align: left;
  width: 100%;
  float: left;
}
@media (max-width: 992px) {
  #other-images {
    width: 100%;
    float: none;
  }
}
#other-images #images-wrapper {
  border-top: 1px solid #cccccc;
  margin: 0px auto;
  padding: 10px 0px;
}
#other-images #images-wrapper .gallery-image {
  display: relative;
  max-height: 100px;
  margin: 5px;
  border: 1px solid #cccccc;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 1px 1px rgba(0, 0, 0, 0.23);
  padding: 4px;
  max-width: 90%;
}
#attribution {
  width: 100%;
  float: left;
}
@media (max-width: 992px) {
  #attribution {
    width: 100%;
    float: none;
  }
}
#attribution #provider-info {
  border-top: 1px solid #cccccc;
}
#attribution #provider-info .title {
  margin: 10px 0px;
}
#attribution #provider-info .contact {
  padding-left: 0px;
}
#data-content {
  text-align: center;
}
.logo {
  max-width: 50px;
  margin: 5px 5px 0px 0px;
  border: 1px solid #ccc;
  padding: 4px;
  float: left;
}
.title {
  color: #555;
  font-weight: normal;
  margin: 4px 0px;
}
h1.title {
  font-size: 1.65em;
}
h4.title {
  margin: 5px;
  font-size: 1.3em;
}
#bread-crumbs {
  display: block;
}
#media-wrapper {
  display: block;
  width: 100%;
  margin: 20px auto;
  position: relative;
  background-color: #ececec;
}
#media-wrapper img {
  border: 1px solid #ccc;
  padding: 5px;
  max-height: 350px;
  margin: 20px auto;
  background-color: white;
  border-radius: 3px;
  display: block;
}
#media-wrapper a {
  display: block;
  margin: 5px;
}
#raw {
  font-size: 13px;
  border-top: 1px solid #cccccc;
}
#raw #raw-body {
  overflow: auto;
  padding-top: 20px;
}
#raw #raw-body .string {
  word-wrap: break-all;
  word-break: break-word;
  overflow: hidden;
  white-space: pre-line;
}
