#attribution {
  width: 100%;
  margin-top: 40px;
}
#attribution h4.title {
  font-size: 1.3em;
}
#attribution #provider-info {
  font-size: 13px;
  border-top: 1px solid #cccccc;
  padding: 5px 0px;
}
#attribution #provider-info .title {
  margin: 10px 0px;
  color: #555;
}
#attribution #provider-info .logo {
  max-height: 100px;
  max-width: 200px;
  margin: 5px 10px 0px 0px;
  border: 1px solid #ccc;
  padding: 4px;
  float: left;
}
#attribution #provider-info .justify {
  text-align: justify;
  line-height: 1.3em;
}
#attribution #provider-info #description {
  display: block;
  text-align: justify;
}
#attribution #provider-info #contacts {
  margin-top: 15px;
  width: 100%;
}
#attribution #provider-info #contacts .title {
  margin-bottom: 10px;
}
#attribution #provider-info #contacts .contact,
#attribution #provider-info #contacts .contact li {
  text-decoration: none;
  list-style: none;
}
#attribution #provider-info #contacts .contact {
  width: 27%;
  padding-left: 0px;
  margin-right: 15px;
  float: left;
}
#attribution #provider-info #contacts .contact td {
  vertical-align: top;
}
#attribution #provider-info #contacts .contact .name {
  color: #333;
}
