body {
  background-color: #eee;
}
h1 {
  font-size: 2em;
}
table {
  width: 100%;
}
#publishers-wrapper {
  background-color: #fefefe;
  box-shadow: 1px 1px 2px #ccc;
}
.table thead th.statcol,
#statstable .statcol {
  text-align: center;
}
td {
  text-align: left;
}
th.top-header {
  text-align: center;
}
.table tbody tr td.valcol {
  text-align: right;
}
h3,
h4 {
  font-weight: normal;
}
