h3 {
  color: #333;
  font-size: 1.63em;
}
h4.title {
  font-size: 1.3em;
}
body {
  min-height: 800px;
}
.bold {
  font-weight: bold;
}
#data-content .loader,
#provider-info .loader {
  width: 100%;
  position: relative;
}
.loader img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#raw-body {
  white-space: pre;
  overflow: auto;
}
.section-hide {
  display: none;
}
#data-container {
  max-width: 1600px;
  margin: 10px auto;
  padding: 10px;
}
#data-container .title {
  color: #666;
  font-weight: bold;
  margin: 4px 0px;
}
#data-container #title {
  margin: 10px 0px;
  max-width: 1600px;
  color: #666;
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 31px;
}
#data-container #title .title-addition {
  font-size: .65em;
  margin: 0px 15px;
  color: #999;
}
#data-container #data-content {
  width: 65%;
  float: left;
}
@media (max-width: 1060px) {
  #data-container #data-content {
    width: 100%;
    float: none;
  }
}
#data-container #data-content #record-container .tabs {
  margin: 7px 0px -1px -2px;
  padding: 0px;
  display: block;
  list-style: none;
}
#data-container #data-content #record-container .tabs .tab {
  display: inline-block;
  padding: 0px;
  margin: 0px 2px;
}
#data-container #data-content #record-container .tabs .tab a {
  position: relative;
  display: inline-block;
  padding: 6px 6px 6px 6px;
  color: #999;
  cursor: pointer;
  letter-spacing: .01em;
  text-decoration: none;
  margin: 0px;
  font-weight: bolder;
}
#data-container #data-content #record-container .tabs .tab a:hover {
  text-decoration: none;
  color: #6aaa51;
}
#data-container #data-content #record-container .tabs .tab.active a {
  background-color: white;
  border-bottom: 4px solid #6aaa51;
  cursor: default;
  color: #555;
}
#data-container #data-content #record-container .record {
  display: relative;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  margin: 0px 15px 5px 0px;
  min-height: 300px;
  width: 99.5%;
  background-color: #ececec;
  padding: 4px;
}
#data-container #data-content #record-container .record .record-table {
  margin: 8px;
  padding: 4px;
  width: 99%;
}
#data-container #data-content #record-container .record .record-table .field-name {
  font-weight: bold;
  color: #555;
  width: 300px;
}
#data-container #data-content #record-container .record .record-table .field-value,
#data-container #data-content #record-container .record .record-table .field-value a {
  display: inline-block;
  word-wrap: break-all;
  word-break: break-word;
  overflow: hidden;
  white-space: pre-line;
  color: #555;
}
@media (max-width: 1060px) {
  #data-container #data-content #record-container .record .record-table .field-name,
  #data-container #data-content #record-container .record .record-table .field-value {
    width: 50%;
  }
}
#data-container #provider-wrapper {
  margin-top: 20px;
  width: 65%;
  padding-right: 5px;
  float: left;
  display: block;
  color: #333;
  line-height: 1.25em;
}
@media (max-width: 1060px) {
  #data-container #provider-wrapper {
    margin-top: 20px;
    width: 100%;
    float: none;
  }
}
#data-container #provider-wrapper h4.title {
  margin-left: 0px;
  margin-top: 10px;
}
#data-container #provider-wrapper #provider-info {
  border-top: 1px solid #cccccc;
  padding: 5px 0px;
}
#data-container #provider-wrapper #provider-info .title {
  margin-top: 10px;
  color: #555;
}
#data-container #provider-wrapper #provider-info .logo {
  max-height: 45px;
  margin: 5px 5px 0px 0px;
  border: 1px solid #ccc;
  padding: 4px;
  float: left;
}
#data-container #provider-wrapper #provider-info .justify {
  text-align: justify;
  line-height: 1.3em;
}
#data-container #provider-wrapper #provider-info #contacts {
  margin-top: 15px;
}
#data-container #provider-wrapper #provider-info #contacts .title {
  margin-bottom: 10px;
}
#data-container #provider-wrapper #provider-info #contacts .contact,
#data-container #provider-wrapper #provider-info #contacts .contact li {
  text-decoration: none;
  list-style: none;
  width: 170px;
  word-break: break-word;
}
#data-container #provider-wrapper #provider-info #contacts .contact {
  padding-left: 0px;
  margin-right: 15px;
}
#data-container #data-meta {
  margin-top: 40px;
  width: 34%;
  float: right;
}
@media (max-width: 1060px) {
  #data-container #data-meta {
    width: 100%;
  }
}
#data-container #data-meta h4.title {
  margin: 0px;
  margin-left: 0px;
  width: 98.5%;
  padding: 2px 0px 2px 5px;
}
#data-container #data-meta #actions {
  margin-bottom: 30px;
}
#data-container #data-meta #actions #action-buttons {
  padding: 0px 0px;
  width: 98%;
  margin: auto auto;
}
#data-container #data-meta #actions #action-buttons button {
  display: inline-block;
  margin: 2px 10px 4px 0px;
  border-radius: 2px;
  background-color: #6aaa51;
  color: #efe;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 1px 1px rgba(0, 0, 0, 0.23);
}
#data-container #data-meta #map {
  width: 100%;
  padding: 5px;
  margin: 10px 0px;
  display: none;
}
#data-container #data-meta #map .title {
  margin-left: 0px;
  padding-left: 0px;
}
#data-container #data-meta #map #map-wrapper {
  border-top: 1px solid #cccccc;
}
#data-container #data-meta #map #map-wrapper #map-box {
  height: 200px;
  margin: 15px auto;
  border: 1px solid #cccccc;
}
#data-container #data-meta #gallery-wrapper {
  margin-top: 0px;
  margin-bottom: 10px;
}
#data-container #data-meta #gallery-wrapper #gallery {
  width: 98%;
  margin: auto auto;
  border-top: 1px solid #cccccc;
  padding: 10px 0px;
}
#data-container #data-meta #gallery-wrapper #gallery .gallery-image {
  display: relative;
  max-height: 100px;
  margin: 5px;
  border: 1px solid #cccccc;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 1px 1px rgba(0, 0, 0, 0.23);
  padding: 4px;
  max-width: 90%;
}
