#container {
  max-width: 1600px;
  margin: auto;
}
#container #title {
  font-size: 1.75em;
  font-weight: bold;
  color: #666;
}
#container #description,
#container #fields-table {
  float: left;
  width: 64%;
}
#container #buttons,
#container #info,
#container #contacts {
  float: right;
  width: 34%;
}
#container #description {
  display: block;
  clear: both;
}
#container #description p {
  margin: 0px;
  text-align: justify;
  background-color: #ececec;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 5px 10px;
  min-height: 170px;
}
#container #fields-table {
  margin-top: 15px;
}
#container #buttons button {
  display: inline-block;
  margin: 2px 10px 4px 0px;
  border-radius: 2px;
  background-color: #6aaa51;
  color: #efe;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 1px 1px rgba(0, 0, 0, 0.23);
}
#container #info {
  padding: 0px;
}
#container #contacts .contact,
#container #contacts .contact li {
  text-decoration: none;
  list-style-type: none;
  min-width: 180px;
  word-break: break-word;
}
#container #contacts .contact {
  float: left;
  padding-left: 0px;
}
.last {
  margin-left: 20px;
}
.logo {
  max-width: 100px;
  max-height: 100px;
  margin: 0px 10px 2px 10px;
  float: left;
  padding: 4px;
  border: 1px solid #ccc;
  background-color: white;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.2em;
}
a {
  text-shadow: none;
}
td.record-count {
  text-align: right;
}
.perc-box {
  border: 1px solid #bbb;
  border-radius: 3px;
  width: 100px;
  color: darkred;
  height: 20px;
  background-color: #eee;
  margin: auto;
  position: relative;
}
.perc-bar {
  background-color: #ccc;
  position: absolute;
  z-index: 1;
  display: inline-block;
  height: 18px;
  text-align: center;
}
.perc-text {
  position: relative;
  z-index: 2;
  display: inline-block;
  width: 100px;
  text-align: center;
  font-size: 1em;
}
.button {
  margin: 5px;
}
.buttons {
  text-align: center;
}
#title label {
  font-size: 1.7em;
  letter-spacing: 0.0em;
  font-weight: bold;
  color: #333;
}
.info {
  font-weight: bold;
  font-size: 1.02em;
}
#info .wrapper {
  margin: 10px;
}
#info .info {
  margin-bottom: 5px;
}
#fields,
#description {
  color: #444;
}
#field-loader {
  display: block;
  margin: 20% auto;
}
#map {
  width: 100%;
  margin: 10px;
}
#right {
  float: right;
  width: 34%;
}
@media (max-width: 900px) {
  #description,
  #fields {
    width: 98%;
    float: none;
  }
  #title {
    margin: 20px 0px;
  }
}
