#title h1 span.title {
  margin: 0px 0px;
  max-width: 1600px;
  color: #333;
  cursor: pointer;
  font-weight: normal;
  padding-bottom: 5px;
  font-size: 28px;
}
#title h1 span.title .title-addition {
  font-size: .65em;
  margin: 0px 8px 0px 15px;
}
#title h1 span.title-link {
  font-size: .45em;
  text-shadow: none;
}
#title h2 {
  font-size: 12px;
  margin: 10px 0px 20px 0px;
}
#side-nav {
  position: absolute;
  left: 0;
  padding-right: 30px;
}
#side-nav #side-nav-list {
  list-style-type: none;
  margin-top: 120px;
}
#side-nav #side-nav-list li.title {
  color: #111;
  font-size: 17px;
  border-bottom: 1px solid #ccc;
  padding: 0px;
  margin-bottom: 8px;
}
#side-nav #side-nav-list li a {
  display: block;
  font-size: 15px;
  text-align: left;
  border-left: 3px solid transparent;
  font-weight: normal;
  cursor: pointer;
  letter-spacing: .035em;
  color: #333;
  text-decoration: none;
}
#side-nav #side-nav-list li a:hover,
#side-nav #side-nav-list li a:visited {
  text-decoration: none;
}
#side-nav #side-nav-list li a:hover {
  color: #777;
}
#side-nav #side-nav-list.affix {
  margin-top: 0px;
}
#contacts {
  margin: 10px 0px 0px 0px;
  display: block;
}
#contacts h2.title {
  font-size: 16px;
}
#contacts table.contact {
  margin-bottom: 10px;
  float: left;
  width: 30%;
  min-width: 300px;
}
#contacts table.contact td {
  vertical-align: top;
  padding: 1px 3px;
}
#contacts table.contact td.name {
  font-weight: bold;
  width: 60px;
}
#contacts table.contact td i {
  color: #999;
}
#citation {
  margin: 0px 0px 15px 0px;
  display: block;
}
#citation h2.title {
  font-size: 16px;
  margin-top: 5px;
}
#citation h3.title {
  font-size: 15px;
  margin-top: 5px;
}
#citation table.contact {
  margin-bottom: 10px;
  float: left;
  width: 30%;
  min-width: 300px;
}
#citation table.contact td {
  vertical-align: top;
  padding: 1px 3px;
}
#citation table.contact td.name {
  font-weight: bold;
}
#citation table.contact td i {
  color: #999;
}
div.citationtext {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  margin: 1em;
  padding: 0.5em 10px;
}
#attribution {
  width: 100%;
  margin-top: 40px;
}
#attribution #provider-info {
  font-size: 13px;
  border-top: 1px solid #ccc;
  padding: 5px 0px;
}
#attribution #provider-info .title {
  margin: 10px 0px;
}
#attribution #provider-info .logo {
  max-height: 100px;
  max-width: 130px;
  margin: 5px 10px 0px 0px;
  border: 1px solid #ccc;
  padding: 4px;
  float: left;
}
#attribution #provider-info .justify {
  text-align: justify;
  line-height: 1.3em;
}
#attribution #provider-info #description {
  display: block;
  text-align: justify;
}
#raw {
  font-size: 13px;
  border-top: 1px solid #ccc;
}
#raw #raw-body {
  overflow: auto;
  padding-top: 20px;
}
#raw #raw-body .key {
  font-weight: bolder;
}
#raw #raw-body .boolean {
  color: #333;
}
#raw #raw-body .number {
  color: #555;
}
#raw #raw-body .string {
  color: #4a7638;
  word-wrap: break-all;
  word-break: break-word;
  overflow: hidden;
  white-space: pre-line;
}
h3 {
  color: #333;
  font-size: 1.63em;
}
h4.title {
  color: #555;
  font-weight: normal;
  margin: 4px 0px;
  font-size: 1.3em;
}
body {
  min-height: 800px;
  position: relative;
  background-color: #eee;
}
#content {
  background-color: #fefefe;
  box-shadow: 1px 1px 2px #ccc;
  text-shadow: 1px 1px 1px white;
}
#col-nav {
  background-color: #ECECEC;
  height: 100%;
}
h1#banner {
  color: #999;
  margin-left: 0px;
  font-size: 2em;
}
#summary {
  font-size: 13px;
  display: block;
  margin: 0px 0px;
}
#summary-info {
  margin-bottom: 40px;
  border-radius: 3px;
}
#summary-info .sec {
  width: 49%;
  margin-right: 1%;
}
#summary-info .sec span.name {
  display: inline-block;
  clear: both;
  float: left;
}
#summary-info .arrow {
  color: #ccc;
}
#summary-info .list-table {
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: 12px;
}
#summary-info .list-table td {
  padding: 0px 5px;
  border: 1px solid #ccc;
}
#summary-info .list-table .list-headers {
  background-color: #ECECEC;
}
#summary-info .list-table .list-values {
  background-color: white;
}
#summary-info .sec {
  font-size: 13px;
}
#summary-info .sec table td {
  padding: 1px 0px;
  vertical-align: top;
}
#summary-info .sec .name {
  color: #333;
  text-align: left;
  min-width: 80px;
}
#summary-info .sec .val {
  color: #666;
  text-align: left;
  padding-left: 8px;
}
#data {
  margin-top: 30px;
}
#data #record,
#data #flags,
#data #idhistory {
  border-top: 1px solid #ccc;
  font-size: 13px;
  padding-top: 20px;
}
#data #record .field-name,
#data #flags .field-name,
#data #idhistory .field-name {
  font-weight: normal;
  color: #555;
}
#data #record .field-value,
#data #flags .field-value,
#data #idhistory .field-value,
#data #record .field-value a,
#data #flags .field-value a,
#data #idhistory .field-value a {
  word-wrap: break-all;
  word-break: break-word;
  overflow: hidden;
  white-space: pre-line;
  color: #555;
}
#data ul.tabs {
  font-size: 17px;
  padding: 0px;
  margin: 0px;
}
#data ul.tabs li {
  cursor: pointer;
  list-style-type: none;
  display: inline-block;
  padding: 0px 10px;
  border-bottom: 3px solid transparent;
  letter-spacing: .02em;
  color: #666;
}
#data ul.tabs li:hover {
  border-bottom: 3px solid #87bc72;
  transition: border-bottom 0.5s;
}
#data ul.tabs li.active {
  color: #333;
  border-bottom: 3px solid #6aaa51;
}
#map {
  margin: 10px 0px;
  display: none;
}
#map .title {
  margin-left: 0px;
  padding-left: 0px;
}
#map #map-wrapper #map-box {
  height: 250px;
  margin: 15px auto 5px auto;
  border: 1px solid #ccc;
}
#map #map-wrapper #map-geopoint {
  width: 100%;
  font-size: .9em;
}
#map #map-wrapper #map-geopoint span {
  margin: 0px 5px 0px 0px;
}
#media {
  margin-top: 30px;
  margin-bottom: 10px;
}
#media #gallery {
  width: 100%;
  margin: auto auto;
  border-top: 1px solid #ccc;
  padding: 10px 0px;
}
#media #gallery .gallery-image {
  display: relative;
  max-height: 100px;
  margin: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 1px 1px rgba(0, 0, 0, 0.23);
  padding: 4px;
}
#media #gallery .gallery-image:hover {
  transition: box-shadow 0.3s, transform 0.3s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
