#main {
  background-color: #fafafa;
}
#search {
  width: 25%;
  background-color: #fafafa;
  display: inline-block;
  float: left;
}
#search #search-any {
  margin: 0px 10px;
}
#search .checkbox {
  display: inline-block;
  margin-right: 20px;
  font-size: 1.1em;
}
#search-filters {
  width: 100%;
  margin: 0px;
  padding: 0px;
}
#search-filters .filter {
  padding: 3px;
  width: 200px;
  height: 100px;
  margin: 0px;
  background-color: #c0e4b3;
  display: inline-block;
  float: left;
}
#search-filters .filter textarea {
  border-radius: 3px;
  margin: 3px;
}
#filter-sort {
  width: 50%;
  display: block;
  float: left;
  border-bottom: 1px solid #999;
  min-height: 100px;
}
#filter-sort select {
  display: inline-block;
  width: 90%;
  background-color: white;
  height: 22px;
  margin: 0px 10px;
  border-radius: 3px;
}
#filter-sort label {
  margin: 2px 10px;
}
#filter-control {
  min-height: 100px;
  width: 50%;
  min-width: 100px;
  background-color: #c0e4b3;
  padding: 10px;
  display: block;
  float: left;
  border: 1px solid #999;
  border-bottom: 1px solid green;
  border-right: none;
}
#filter-control select {
  width: 90%;
  height: 25px;
  border-radius: 4px;
  background-color: white;
}
#filter-control h4 {
  margin-top: 5px;
}
#map-box {
  width: 75%;
  display: inline-block;
  float: left;
}
#map {
  width: 100%;
  max-width: 800px;
  height: 400px;
  display: block;
  border: 1px solid #999;
}
@media (max-width: 1000px) {
  #map-box,
  #search,
  #search-any {
    float: none;
    width: 100%;
  }
}
