#title h1 span.title {
  margin: 0px 0px;
  max-width: 1600px;
  color: #333;
  cursor: pointer;
  font-weight: normal;
  padding-bottom: 5px;
  font-size: 28px;
}
#title h1 span.title .title-addition {
  font-size: .65em;
  margin: 0px 15px;
}
#title h2 {
  font-size: 12px;
  margin: 10px 0px 20px 0px;
}
