.auto-list {
  position: absolute;
  left: 155px;
  top: 50px;
  z-index: 200;
  display: block;
  float: right;
  background-color: white;
  width: 200px;
  text-decoration: none;
  list-style-type: none;
  padding: 0px;
}
.auto-list .auto-item {
  text-decoration: none;
  padding: 0px 6px;
}
.auto-list .auto-item:hover {
  background-color: #BCD8F3;
}
