#download {
  padding: 0px;
  background-color: #ececec;
  border-bottom: 1px solid #cccccc;
  margin: 0px;
}
#download .sub#current {
  margin: 15px;
}
#download .sub#current select {
  max-width: 400px;
}
#download .sub#current select option {
  max-width: 400px;
  display: inline-block;
}
#download .sub .input-group {
  width: 100%;
}
#download #downloader {
  margin: 15px;
}
#download #downloads-section {
  width: 100%;
  background-color: white;
  border-top: 1px solid #cccccc;
  margin: 0px;
}
#download #downloads-section label {
  margin: 10px 15px 5px 15px;
}
#download #downloads-section #downloads-available {
  display: block;
  overflow: scroll;
  height: 111px;
}
@media (max-width: 1060px) {
  #download #downloads-section #downloads-available {
    height: 82px;
  }
}
#download #downloads-section table {
  border-top: 1px solid #cccccc;
  width: 100%;
  margin: 3px 0px;
}
#download #downloads-section table tr.dl-row td.status {
  width: 40%;
  max-width: 180px;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 2px 15px;
}
#download #downloads-section table tr.dl-row td.title {
  width: 60%;
  max-width: 280px;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 2px 15px;
}
#download #downloads-section table th {
  padding: 0 15px;
}
#download #downloads-section table th.title {
  width: 60%;
}
#download #downloads-section table th.status {
  width: 40%;
}
@media (max-width: 992px) {
  #download #downloads-section table {
    height: 100px;
  }
  #download #downloads-section table td.title {
    max-width: 200px;
  }
}
