#download {
  padding: 10px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #cccccc;
}
#download .sub {
  margin: 10px;
}
#download .sub .input-group {
  width: 100%;
}
#download .form-control.history-select {
  width: 100%;
}
#download .form-control.history-select option {
  overflow: ellipses;
}
