#filters {
  z-index: 10;
  position: relative;
}
#filters #filter-scroller {
  width: 100%;
  height: 30px;
  opacity: .8;
  background-color: #666;
  display: block;
  /*position:absolute;
        bottom:0px;
        left:0px;
       */
  text-align: center;
  color: #fdfdfd;
  font-weight: bold;
  padding: 4px;
  cursor: pointer;
}
#filters #filter-scroller i {
  margin: 5px 10%;
}
#filters #filter-select {
  margin: 0px;
  border-bottom-color: #999;
}
#filters #filter-select select {
  display: inline;
  width: 60%;
  margin: 0px 15px;
  float: left;
  border-radius: 4px;
  background-color: white;
}
@media (max-width: 992px) {
  #filters #filter-select select {
    width: 50%;
  }
}
#filters #filter-select select .field-group {
  margin-left: 10px;
}
#filters #filter-select select option:disabled {
  color: darkred;
}
#filters #filter-select select optgroup.field {
  display: block;
  margin-left: 20px;
}
#filters #filter-select select option.default {
  font-weight: bold;
}
#filters #filter-select button {
  float: left;
}
#filters #filters-holder {
  overflow-y: scroll;
  height: 260px;
  margin: 0px;
  padding: 0px;
}
@media (max-width: 992px) {
  #filters #filters-holder {
    height: 233px;
  }
}
@media (max-width: 1060px) {
  #filters #filters-holder {
    height: 231px;
  }
}
#filters #filters-holder .filter-trans-enter {
  opacity: 0.01;
  transition: opacity 0.4s ease-in;
}
#filters #filters-holder .filter-trans-enter.filter-trans-enter-active {
  opacity: 1;
}
#filters #filters-holder .filter-trans-leave {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}
#filters #filters-holder .filter-trans-leave.filter-trans-leave-active {
  opacity: 0.01;
}
#filters #filters-holder .filter {
  background: #fafafa;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fafafa 0%, #f0f0f0 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #f0f0f0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fafafa 0%, #f0f0f0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fafafa 0%, #f0f0f0 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fafafa 0%, #f0f0f0 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fafafa 0%, #f0f0f0 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#f0f0f0', GradientType=0);
  /* IE6-9 */
  margin-top: 0px;
  border-right: 1px solid #cccccc;
  padding: 4px;
}
#filters #filters-holder .filter .filter-name {
  word-wrap: break-all;
  word-break: break-word;
  width: 20%;
  font-size: .88em;
}
#filters #filters-holder .filter .text {
  position: relative;
}
#filters #filters-holder .filter .text textarea {
  width: 260px;
  float: right;
  margin-right: 5px;
  height: 54px;
}
@media (max-width: 992px) {
  #filters #filters-holder .filter .text textarea {
    width: 220px;
  }
}
@media (max-width: 1060px) {
  #filters #filters-holder .filter .text textarea {
    width: 240px;
  }
}
#filters #filters-holder .filter .text.syn textarea {
  width: 199px;
  margin-right: 0px;
}
@media (max-width: 992px) {
  #filters #filters-holder .filter .text.syn textarea {
    width: 160px;
  }
}
@media (max-width: 1060px) {
  #filters #filters-holder .filter .text.syn textarea {
    width: 180px;
  }
}
#filters #filters-holder .filter .text.syn a {
  display: block;
  float: right;
  width: 60px;
  height: 54px;
  font-size: .8em;
  line-height: .9em;
  margin: 0px 5px 0px 1px;
  text-shadow: 1px 1px 1px white;
  text-align: justify;
  background-color: #f0f0f0;
  border: 1px solid #bbb;
  border-radius: 3px;
  padding: 14px 2px;
}
#filters #filters-holder .filter .text.syn a:hover {
  cursor: pointer;
}
#filters #filters-holder .filter .dates {
  display: block;
  float: right;
}
#filters #filters-holder .filter .dates input.date {
  width: 129px;
  display: block;
  height: 30px;
  margin: 2px;
}
#filters #filters-holder .filter .dates input.date:disabled {
  color: #bbb;
}
@media (max-width: 992px) {
  #filters #filters-holder .filter .dates input.date {
    width: 110px;
  }
}
@media (max-width: 1060px) {
  #filters #filters-holder .filter .dates input.date {
    width: 120px;
  }
}
#filters #filters-holder .filter .presence {
  width: 260px;
  float: right;
  margin: 0px;
  margin-right: 16px;
  padding: 0px;
}
@media (max-width: 992px) {
  #filters #filters-holder .filter .presence {
    width: 220px;
  }
}
@media (max-width: 1060px) {
  #filters #filters-holder .filter .presence {
    width: 240px;
  }
}
#filters #filters-holder .filter .presence .field {
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  margin-top: -5px;
  margin-right: 10px;
}
#filters #filters-holder .filter .presence .checkbox {
  margin: 0px 10px;
  padding: 0px;
}
#filters #filters-holder .filter .presence .checkbox label {
  margin: 0px;
}
#filters #filters-holder .filter .presence .checkbox:first-of-type {
  margin-right: 40px;
  margin-left: 0px;
}
#filters #filters-holder .filter .remove {
  float: right;
  display: inline-block;
  color: #333;
}
#filters #filters-holder .filter .checkbox {
  margin: 0px 8px 0px 0px;
  padding: 0px 12px 0px 20px;
  font-size: .9em;
  font-weight: bold;
}
#filters #filters-holder .filter .checkbox label {
  font-weight: bold;
}
