#mapping-options {
  width: 100%;
  display: block;
  float: left;
}
#mapping-options h5 {
  font-weight: bold;
  margin-left: 20px;
}
#mapping-options .ordinates {
  margin: 0px auto;
  margin-left: 5%;
  float: left;
  width: 100%;
}
#mapping-options .ordinates label.title {
  float: left;
  margin: 22px 3px 5px 3px;
  padding: 0px;
}
#mapping-options .ordinates .ordinate {
  width: 100px;
  float: left;
  margin: 2px 5px;
}
#mapping-options .ordinates .ordinate input.coordinate {
  height: 27px;
  width: 100px;
}
