#results {
  margin: auto;
  margin-top: 0px;
  padding-top: 8px;
}
#results h4 {
  margin: 0px;
  margin-left: 10px;
  margin-top: 3px;
  padding: 0px;
}
#results #results-menu {
  list-style-type: none;
  margin: 0px;
  margin-left: 20px;
  padding: 0px;
  background-color: #ececec;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 1px 1px rgba(0, 0, 0, 0.23);
}
#results #results-menu li:first-letter {
  text-transform: capitalize;
}
#results #results-menu li {
  width: 96px;
  text-transform: capitalize;
  display: inline-block;
  margin: 0px 0px 0px 0px;
  font-size: 1.2em;
  letter-spacing: .08em;
  font-weight: normal;
  text-align: center;
  border-bottom: 4px solid #ececec;
  padding: 4px 10px;
  border-radius: 3px 3px 0px 0px;
  cursor: pointer;
  color: #555;
}
#results #results-menu li.active {
  position: relative;
  background-color: white;
  padding: 4px 10px;
  cursor: auto;
  color: #333;
  box-shadow: 0px -1px 1px #eeeeee;
  border-bottom: 4px solid #6aaa51;
}
#results #results-menu li:not(.active):hover {
  background-color: #f4f4f4;
  border-bottom: 4px solid #87bc72;
  color: #777;
  -webkit-transition: background-color 1500ms ease;
  -moz-transition: background-color 1500ms ease;
  -o-transition: background-color 1500ms ease;
  -ms-transition: background-color 1500ms ease;
  transition: background-color 1500ms ease;
  -webkit-transition: border 700ms ease;
  -moz-transition: border 700ms ease;
  -o-transition: border 700ms ease;
  -ms-transition: border 700ms ease;
  transition: border 700ms ease;
}
#results .total {
  margin-right: 10px;
  font-weight: bolder;
}
#results #result-list .modal-dialog {
  z-index: 4050;
  width: 70%;
  margin: 20px auto;
}
@media (max-width: 992px) {
  #results #result-list .modal-dialog {
    width: 70%;
  }
}
@media (max-width: 600px) {
  #results #result-list .modal-dialog {
    width: 80%;
  }
}
#results #result-list #column-list table {
  float: left;
  width: 210px;
  margin-bottom: 20px;
  clear: none;
}
#results #result-list #column-list table tr {
  height: 20px;
}
#results #result-list #column-list table label {
  font-weight: normal;
}
#results #result-list #column-list table label input {
  margin-right: 5px;
}
#results #result-list #column-list table label:hover {
  cursor: pointer;
}
#results #result-list #column-list #reset {
  margin-left: 10px;
}
#results #result-list #data-table {
  table-layout: fixed;
}
#results #result-list #data-table th {
  cursor: pointer;
}
#results #result-list #data-table th i {
  margin-left: 8px;
}
#results #result-list #data-table th:hover {
  background-color: #e5e5e5;
}
#results #result-list #data-table tbody tr {
  height: 30px;
  cursor: pointer;
}
#results #result-list #data-table tbody tr:hover {
  background-color: #f5f5f5;
}
#results #result-list #data-table tbody tr.no-results-row {
  font-weight: bold;
  width: 100%;
  text-align: center;
  height: 50px;
  font-size: 1.2em;
  border-bottom: 1px solid #cccccc;
}
#results #result-list #data-table tbody tr.no-results-row td {
  padding: 20px;
}
#results #result-list #data-table tbody tr td {
  overflow: hidden;
  height: 30px;
  word-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#results #result-list #data-table tbody tr td span.no-data {
  color: #aaa;
  font-style: italic;
}
#results #result-list #data-table tbody tr td.open button {
  width: 30px;
  height: 22px;
}
#results #result-labels {
  padding: 10px;
  width: 100%;
}
#results #result-labels .label-loading {
  width: 100%;
  height: 40px;
  text-align: center;
  padding: 10px;
}
#results #result-labels .result-label {
  position: relative;
  width: 24.05%;
  height: 150px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 1px 1px rgba(0, 0, 0, 0.23);
  background-color: #ececec;
  margin: 8px 8px 8px 8px;
  padding: 3px 8px;
  /*webkit only */
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}
@media (max-width: 1790px) {
  #results #result-labels .result-label {
    width: 32.0%;
    margin: 8px;
  }
}
@media (max-width: 1210px) {
  #results #result-labels .result-label {
    width: 48.0%;
    margin: 8px;
  }
}
@media (max-width: 820px) {
  #results #result-labels .result-label {
    width: 98%;
  }
}
#results #result-labels .result-label h5.title {
  color: #03a9f4;
  font-weight: bold;
  display: inline-block;
  max-width: 65%;
  max-height: 35px;
  overflow: hidden;
  text-overflow: '...';
  font-style: italic;
  line-height: 1.25em;
  text-decoration: underline;
  margin: 2px;
  paddding: 6px;
}
#results #result-labels .result-label h5.title .author {
  font-style: normal;
}
#results #result-labels .result-label h5.title:hover {
  cursor: pointer;
  text-decoration: underline;
}
#results #result-labels .result-label h5.family {
  color: #555;
  font-size: 1em;
  position: absolute;
  right: 10px;
  top: 5px;
  margin: 2px;
  padding: 0px;
  font-weight: bold;
  font-style: italic;
}
#results #result-labels .result-label .content {
  margin-top: 5px;
  line-height: 1.19em;
  font-size: .85em;
  height: 102px;
  max-width: 70%;
}
#results #result-labels .result-label .content span {
  font-weight: normal;
  position: absolute;
  display: inline-block;
  margin: 2px;
  float: left;
  clear: both;
}
#results #result-labels .result-label .content span.date {
  bottom: 2px;
  right: 10px;
}
#results #result-labels .result-label .content span.locality {
  max-height: 40px;
  text-oveflow: ellipsis;
  overflow: hidden;
  top: 40px;
  max-width: 70%;
}
#results #result-labels .result-label .content span.geopoint {
  bottom: 40px;
}
#results #result-labels .result-label .content span.collection {
  bottom: 20px;
}
#results #result-labels .result-label .content span.highertaxa {
  font-style: italic;
  bottom: 2px;
}
#results #result-labels .result-label .image-wrapper {
  position: absolute;
  right: 5px;
  top: 20px;
  margin-top: 5px;
  cursor: pointer;
}
#results #result-labels .result-label .image-wrapper .image-count {
  font-size: .8em;
  position: absolute;
  top: 3px;
  right: 5px;
  color: white;
  padding: 2px;
  z-index: 90;
  border-top-right-radius: 3px;
  background-color: #333;
  opacity: .9;
  font-weight: bold;
  border: 1px solid white;
}
#results #result-labels .result-label .image-wrapper img {
  margin: 3px 5px;
  max-height: 90px;
  max-width: 98px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 1px 1px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 1px 1px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 1px 1px rgba(0, 0, 0, 0.23);
  border: 1px solid #aaa;
  border-radius: 3px;
}
#results #result-labels .result-label .image-wrapper img:hover {
  border: 1px solid #03a9f4;
}
#results #result-labels .result-label .links {
  display: inline-block;
  height: 3;
}
#results #results-images {
  padding-top: 10px;
}
#results #results-images #images-wrapper {
  display: block;
  margin: auto;
  width: 98%;
}
#results #results-images #images-wrapper #loading-images {
  clear: both;
  width: 100%;
  height: 40px;
  text-align: center;
  padding: 10px;
  display: block;
}
#results #results-images .image {
  height: 230px;
  width: 15.40%;
  background-color: #f0f0f0;
  margin: 10px;
  float: left;
  border-radius: 3px;
  border: 1px solid #ddd;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 1px 1px rgba(0, 0, 0, 0.23);
}
#results #results-images .image:hover {
  background-color: #e5e5e5;
}
@media (max-width: 992px) {
  #results #results-images .image {
    width: 32.0%;
  }
}
@media (max-width: 1790px) {
  #results #results-images .image {
    width: 18.5%;
    margin: 8px;
  }
}
@media (max-width: 1210px) {
  #results #results-images .image {
    width: 31.0%;
    margin: 8px;
  }
}
@media (max-width: 820px) {
  #results #results-images .image {
    width: 46%;
  }
}
@media (max-width: 600px) {
  #results #results-images .image {
    width: 98%;
  }
}
#results #results-images .image .img-count {
  display: block;
  float: right;
  color: white;
  margin: 0px 0px;
  padding: 1px 3px;
  position: relative;
  z-index: 10;
  font-size: .80em;
  font-weight: bold;
  background-color: #888;
  opacity: .7;
}
#results #results-images .image .gallery-image-text {
  width: 100%;
  min-height: 50px;
  background-color: #555;
  opacity: .8;
  /*display:none;*/
  line-height: 1.1em;
  position: absolute;
  bottom: 0px;
  color: white;
  font-size: 1em;
  border-radius: 0px 0px 3px 3px;
}
#results #results-images .image .gallery-image-text .title {
  font-weight: bold;
  font-style: italic;
  margin-right: 5px;
}
#results #results-images .image .gallery-image-text .image-text {
  margin: 3px 8px;
}
#results #results-images .no-images {
  text-align: center;
  height: 30px;
}
#results #results-images .no-images h4 {
  font-weight: bold;
}
#results .panel {
  margin: 0px auto;
  padding: 0px 0px;
  background-color: white;
  border-top: 1px solid #cccccc;
  width: 100%;
  float: left;
}
#results .panel .image {
  width: 200px;
  height: 190px;
  position: relative;
  display: inline-block;
}
#results .panel .image img {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 85%;
  max-width: 85%;
  box-shadow: 0px 0px 3px #888;
}
