#results {
  margin: auto;
  margin-top: 0px;
  padding-top: 8px;
}
#results h4 {
  margin: 0px;
  margin-left: 10px;
  margin-top: 3px;
  padding: 0px;
}
#results #results-menu {
  list-style-type: none;
  margin: 0px;
  margin-left: 20px;
  padding: 0px;
}
#results #results-menu li:first-letter {
  text-transform: capitalize;
}
#results #results-menu li {
  text-transform: capitalize;
  display: inline;
  margin: 0px 4px;
  font-size: 1.3em;
  letter-spacing: .08em;
  font-weight: bold;
  border: 1px solid #cccccc;
  border-bottom: none;
  padding: 4px 8px 4px 8px;
  border-radius: 3px 3px 0px 0px;
  cursor: pointer;
  background-color: #c0e4b3;
  color: #444;
}
#results #results-menu li.active {
  position: relative;
  background-color: white;
  padding-pottom: 5px;
  cursor: auto;
  color: #333;
  box-shadow: 0px -1px 1px #eeeeee;
}
#results .total {
  margin-right: 10px;
  font-weight: bolder;
}
#results #result-list .modal-dialog {
  z-index: 3050;
}
#results #result-list #column-list table {
  width: 210px;
}
#results #result-list #column-list table tr {
  height: 20px;
}
#results #result-list #column-list table label {
  font-weight: normal;
}
#results #result-list #column-list table label input {
  margin-right: 5px;
}
#results #result-list #column-list table label:hover {
  cursor: pointer;
}
#results #result-list #column-list #reset {
  margin-left: 10px;
}
#results #result-list #data-table {
  table-layout: fixed;
}
#results #result-list #data-table th {
  cursor: pointer;
}
#results #result-list #data-table th i {
  margin-left: 8px;
}
#results #result-list #data-table th:hover {
  background-color: #BFF2F7;
}
#results #result-list #data-table tbody tr {
  height: 30px;
}
#results #result-list #data-table tbody tr td {
  overflow: hidden;
  height: 30px;
  word-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#results #result-list #data-table tbody tr td span.no-data {
  color: #aaa;
  font-style: italic;
}
#results #result-list #data-table tbody tr:hover {
  cursor: pointer;
}
#results #result-list #data-table tbody tr.no-results-row {
  font-weight: bold;
  width: 100%;
  text-align: center;
  height: 50px;
  font-size: 1.2em;
  border-bottom: 1px solid #cccccc;
}
#results #result-list #data-table tbody tr.no-results-row td {
  padding: 20px;
}
#results #result-labels {
  padding-top: 10px;
}
#results #result-labels .result-label {
  width: 19.65%;
  height: 98px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  background-color: #f5f5f5;
  margin: 3px;
  padding: 3px 5px;
  text-shadow: 0px 1px 0px #fff;
  /*webkit only */
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}
#results #result-labels .result-label:hover {
  cursor: pointer;
}
#results #result-labels .result-label p {
  margin-top: 1px;
  line-height: 1.19em;
  font-size: .85em;
  height: 102px;
}
#results #result-labels .result-label .image-wrapper {
  position: relative;
  float: right;
  display: inline-block;
}
#results #result-labels .result-label .image-wrapper .image-count {
  font-size: .8em;
  position: absolute;
  top: 3px;
  right: 5px;
  color: white;
  padding: 2px;
  z-index: 90;
  opacity: .9;
  border-top-right-radius: 3px;
  background-color: #333;
  opacity: .7;
}
#results #result-labels .result-label .image-wrapper img {
  margin: 3px 5px;
  max-height: 78px;
  max-width: 78px;
  /*box-shadow:1px 1px 0px #bbb;
                    -webkit-box-shadow:1px 1px 0px #bbb;
                    -moz-box-shadow:1px 1px 0px #bbb;*/
  border: 1px solid #cccccc;
  border-radius: 3px;
}
#results #results-images {
  padding-top: 10px;
}
#results #results-images .image {
  height: 230px;
  width: 260px;
  background-color: #f0f0f0;
  margin: 3px;
  float: left;
  border-radius: 0px;
  border: 1px solid #cccccc;
  position: relative;
}
#results #results-images .image .img-count {
  display: block;
  float: right;
  color: white;
  margin: 0px 0px;
  padding: 1px 3px;
  position: relative;
  z-index: 10;
  font-size: .80em;
  font-weight: bold;
  background-color: #888;
  opacity: .7;
}
#results #results-images .image .gallery-image-text {
  width: 100%;
  min-height: 50px;
  background-color: #555;
  opacity: .8;
  /*display:none;*/
  line-height: 1.1em;
  position: absolute;
  bottom: 0px;
  color: white;
  font-size: 1em;
  border-radius: 0px;
}
#results #results-images .image .gallery-image-text .image-text {
  margin: 3px 8px;
}
#results .panel {
  margin: 0px auto;
  padding: 0px 0px;
  background-color: white;
  border-top: 1px solid #cccccc;
  width: 100%;
  float: left;
}
#results .panel .image {
  width: 200px;
  height: 190px;
  position: relative;
  display: inline-block;
}
#results .panel .image img {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 85%;
  max-width: 85%;
  box-shadow: 0px 0px 3px #888;
}
