<!doctype html>
<!--[if lt IE 10 ]> <html class="ie-old" lang="en"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!-->
<html class="js" lang="en">
<!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>iDigBio Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block cssblock %}
    <link rel="stylesheet" type="text/css" href="/portal/components/bootstrap/dist/css/bootstrap.min.css">
    {% endblock %}
    <link rel="shortcut icon" href="https://www.idigbio.org/sites/default/files/idigbio-mark-128_0.png">
    <link rel="stylesheet" type="text/css" href="/portal/css/idigbio.css">
    <style>
      .logoimg {
        height: 51px;
      }
    </style>
    {% block headblock %}    
    {% endblock %}
  </head>
  <body>
    <header>
      <input type="hidden" id="csrf" name="_csrf" value="{{ token }}" /> 
      
      <!-- wakulla header -->

      <div class="sixteen columns full alpha omega" style="padding:0 15px 10px;" id="header">
        <div class="alert alert-warning" style="margin:0px;">
          <a href="//ufl.qualtrics.com/jfe/form/SV_77ehHphc3xtBv7v?optOut=true&portalSource=advancedsearch" class="close" data-dismiss="alert">&times;</a>
          The U.S. National Science Foundation and iDigBio are required to collect information on use of digitized collections-based specimen data. Please help us meet this requirement by <a href="https://ufl.qualtrics.com/jfe/form/SV_afasK94NUv4SrFb" class="alert-link">completing a 30-second survey</a> every time you use this search portal. Sustainability of the national digitization effort depends on evidence of data use!
          <a href="//ufl.qualtrics.com/jfe/form/SV_77ehHphc3xtBv7v?optOut=false&portalSource=advancedsearch">Take Survey</a>
        </div>
      </div>

      <div class="sixteen columns full alpha omega" id="header">
        <div id="nav" class="hidden-print">
            <ul id="header-links">
                <li class="nav-about"><a href="https://www.idigbio.org/about-idigbio">About iDigBio</a></li>
                <li class="nav-research"><a href="https://www.idigbio.org/research">Research</a></li>
                <li class="nav-tech"><a href="https://www.idigbio.org/technical-info">Technical Information</a></li>
                <li class="nav-education"><a href="https://www.idigbio.org/education">Education</a></li>
            </ul>
        
           <div class="login-links" style="display:block;float:right;margin-top:5px;color:#fff;">
              {% if !user.is_authenticated -%} 
              <li style="border:none;">
               <a id="login-link" href="https://www.idigbio.org/login/sessions/new?return_to=/portal{{ user.refurl }}" style="color:white;font-size:.8em;">Log In</a>
                <span style="color:white;font-size:.8em;">|</span>
                <a href="https://www.idigbio.org/login/accounts/new" style="color:white;font-size:.8em;">Sign Up</a>
              </li>
              {% else %}
              <li style="border:none;"><a id="logout-link" href="/portal/logout" style="color:white;font-size:.8em;">Log Out</a></li>  
              {%- endif %}
            </div>
        
        </div>
        <a href="https://www.idigbio.org"><img src="/portal/img/idigbio_logo.png" alt="iDigBio" border="0" id="logo"></a>

      </div>
      <div class="sixteen columns full alpha omega hidden-print" id="snav-research">
        <div id="snav" class="clearfix">
          <ul id="portal-menu" style="float:left">
          {% for value in menus.public -%}
              <li {% if loop.key == activemenu %} class="active" {% endif %}>
                <a href="{{ value.url }}" >{{ value.label }} </a>
                {% if value.submenu -%}
                    <ul>
                      {% for item in value.submenu -%}
                          <li>
                            <a href="{{ item.url }}">{{ item.label }}</a>
                          </li>
                      {%- endfor %}
                    </ul>
                {%- endif %}
              </li>
          {%- endfor %}
          </ul>
         
          <ul id="user-menu" style="float:right">
          {% if user.is_authenticated -%}          
              <li>
                <a style="min-width:90px;" href="#">&#x25BC;&nbsp;&nbsp;{{ user.login }}</a>
                <ul id="user-menu-dd">
                  {% for value in menus.private -%}
                  <li {% if loop.key == activemenu %} class="active" {% endif %}>
                       <a href="{{ value.url }}" >{{ value.label }}</a>
                  </li>
                  {%- endfor %}   

                </ul> 
              </li>
          {%- endif %}
          </ul>
        </div>
      </div>
      <!-- /end wakulla header -->
    </header>
    <div style="margin:0px;padding:0px;">
      
        <!-- dyna content-->
        
          {% block content %}
          {% endblock %}
       
      
     <!-- <a id="feedback-link" href="//idigbio.org/contact">
      </a>-->
    </div>
    <!-- list link for web crawlers-->
    <a href="/portal/list/index.html" alt="specimen links" style="display:none;">specimen list</a>
    <!-- footer section -->
    <footer class="container-fluid">
        <div class="sixteen columns" id="footer">       
            <ul id="logo-list">

                  <li><a href="http://ufl.edu"><img alt="University of Florida logo" class="logo-center" src="https://www.idigbio.org/sites/default/files/pamphlet/logos/uf.png" style="width: 60px; height: 60px; "></a></li>
                  <li><a href="http://fsu.edu"><img alt="Florida State University logo" class="logo-center" src="https://www.idigbio.org/sites/default/files/sites/default/files/fsu100.png" style="width: 60px; height: 60px; "></a></li>
                  <li><a href="http://flmnh.ufl.edu"><img alt="Florida Museum logo" class="logo-center" src="https://www.idigbio.org/sites/default/files/pamphlet/logos/flmnh.png" style="width: 60px; height: 60px; "></a></li>
                  <li><a href="http://nsf.gov"><img alt="National Science Foundation logo" class="logo-center" src="https://www.idigbio.org/sites/default/files/pamphlet/logos/nsf.png" style="width: 60px; height: 60px; "></a></li>
                </ul>
                
                <ul id="social-list">
                  <li><a href="https://www.facebook.com/iDigBio" target="_blank"><img alt="Like iDigBio on Facebook" src="https://www.idigbio.org/sites/default/files/pamphlet/logos/facebook.png"></a></li>
                  <li><a href="https://twitter.com/iDigBio" target="_blank"><img alt="Follow iDigbio on Twitter" src="https://www.idigbio.org/sites/default/files/pamphlet/logos/twitter.png"></a></li>
                  <li><a target="_blank" href="https://vimeo.com/idigbio"><img alt="Vimeo" style="width:32px;height:32px" src="https://www.idigbio.org/sites/default/files/pamphlet/logos/vimeo.png"></a></li>
                  <li><a target="_blank" href="https://www.idigbio.org/rss-feed.xml"><img alt="RSS feed" style="width:32px;height:32px" src="https://www.idigbio.org/sites/default/files/pamphlet/logos/RSS.png"></a></li>
                </ul>

            <p><a href="https://www.facebook.com/iDigBio" target="_blank">Like iDigBio on Facebook</a> | <a href="https://twitter.com/iDigBio" target="_blank">Follow iDigBio on Twitter</a></p>
                <p>Use of this website is subject to iDigBio's&nbsp;<a href="https://www.idigbio.org/content/idigbio-terms-use-policy">Terms of Use</a>&nbsp;and&nbsp;<a href="https://www.idigbio.org/content/idigbio-service-level-agreement-sla">Service Level Agreement</a>.</p>
                <p>This page uses <a href="http://www.google.com/analytics">Google Analytics</a> • <a href="http://www.google.com/intl/en_ALL/privacypolicy.html">Google Privacy Policy</a></p>

        </div>
        <div class="sixteen columns" id="footnote">
            <p>iDigBio is funded by a grant from the National Science Foundation's Advancing Digitization of Biodiversity Collections Program. Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation. © 2011-2016 iDigBio</p>
        </div>
  
    </footer>

    <div id="dialog-window" class="modal hide fade">
    </div> 
    {% if !user.is_authenticated -%}
      <form id="login-form" style="display:none" method="get" action="/portal/authenticate">
        <p>Login using OpenID</p>
        <input type="hidden" name="openid_identifier" />
        <input type="hidden" name="firstname">
        <input type="hidden" name="lastname">
        <input type="hidden" name="login">
        <input type="hidden" name="email">
        <input type="submit" value="Login" />
      </form>
    {%- endif %}

    <script>
      {% autoescape false %}
      {{ javascript }}
      {{ apiconfig }}
      {% endautoescape %}
    </script>
    <!-- load gloabal libs here managed with bower packages-->
    <!-- end global libs block -->
    {% block appblock %}
        <script>L_PREFER_CANVAS = true;</script>
        <script src='/portal/js/libs.js'></script>
        <script src='/portal/js/client.js'></script>
    {% endblock %}
    
    {% if user.host == 'www.idigbio.org' || user.host == 'portal.idigbio.org' -%}
    <script src="https://www.idigbio.org/login/server/script?type=portal&t={{ user.random }}"></script>
    {%- endif %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-32912865-1', 'idigbio.org');
      ga('send', 'pageview');
    </script>
    {% block scriptblock %}
    {% endblock %}
  </body>
</html>
