{% extends "base.html" %}
{% block headblock %}  
<link rel="stylesheet" type="text/css" href="https://dynamictyped.github.io/Griddle/styles/griddle.css">  
<link rel="stylesheet" type="text/css" href="/portal/css/collections.css">  
<link rel="stylesheet" type="text/css" href="/portal/components/leaflet/dist/leaflet.css"> 
<script type="text/javascript">
 {% autoescape false %}
  var collections={{ data }}
 {% endautoescape %}
</script>

{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div id="collections-table" class="col-lg-10 col-lg-offset-1">
            <h3>Collections</h3>
            <p>This is intended to be a comprehensive list of all natural history collections in the United States of America. If you know of institutions or collections that are not shown in the list, please complete <a href="https://docs.google.com/forms/d/1slWOvxuLpuPdvDihSibLQq9BPsOqPzK8Hh93zCW3dRI/viewform">this form</a>. If you have any questions or encounter any difficulty, please email Kevin Love at <a href="mailto: klove@flmnh.ufl.ed">klove@flmnh.ufl.ed</a>.
            </p>
            <a href="#" id="mapScroll" style="margin-bottom:20px;display:inline-block;">Show Map of Collections</a>
            <div id="datatable"></div>
        </div>  
    </div>
    <div class="row" id="map-row">
        <div id="map-block" class="col-lg-10 col-lg-offset-1">
            <div id="map"></div>
            <span style="margin-top:10px;display:inline-block;">
                <img src="/portal/img/mapmarker.png" style="width:40px">= Institution with multiple collections.
            </span>
        </div>
    </div>
</div>   
{% endblock %}
