{% extends "base.html" %}
{% block headblock %}  
<link rel="stylesheet" type="text/css" href="https://dynamictyped.github.io/Griddle/styles/griddle.css">  
<link rel="stylesheet" type="text/css" href="/portal/css/collections.css">  

<script type="text/javascript">
 {% autoescape false %}
  var collections={{ data }}
 {% endautoescape %}
</script>

{% endblock %}
{% block content %}
<div class="container-fluid">
<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <h3>Collections</h3>
        <p>This table represents a comprehensive list of all natural history collections in the United States of America.</p>
        <div id="datatable"></div>
    </div> 
</div>
</div>   
{% endblock %}
