{% extends "base.html" %}
{% block headblock %}  
<link rel="stylesheet" type="text/css" href="https://dynamictyped.github.io/Griddle/styles/griddle.css">  
<link rel="stylesheet" type="text/css" href="/portal/css/collections.css">  

<script type="text/javascript">
 {% autoescape false %}
  var collections={{ data }}
 {% endautoescape %}
</script>

{% endblock %}
{% block content %}
<div class="container-fluid">
<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <h3>Collections</h3>
        <p>This is a comprehensive list of all natural history collections in the United States of America. If you know of institutions or collections that are not shown in the list, please fill <a href="https://docs.google.com/forms/d/1slWOvxuLpuPdvDihSibLQq9BPsOqPzK8Hh93zCW3dRI/viewform">this form</a>. If you have any questions or encounter any difficulty, please email François Michonneau at <a href="mailto: fmichon@flmnh.ufl.edu">fmichon@flmnh.ufl.edu</a>.</p>
        <div id="datatable"></div>
    </div> 
</div>
</div>   
{% endblock %}
