{% extends "base.html" %} {% block headblock %}
<meta property="og:site_name" content="iDigBio Specimen Portal" />
<meta property="og:title" content="iDigBio Portal Home" />
<meta property="og:image" content="https://www.idigbio.org/sites/default/files/sites/default/files/idigbio_og.png" />
<meta property="og:url" content="{{user.protocol}}://{{ user.host }}/portal" />
<meta property="og:description" content="The iDigBio Specimen Portal provides access to millions of digitized natural history records gathered from institutions across the United States." />

<link rel="stylesheet" type="text/css" href="/portal/css/home.css">

{% endblock %} {% block content %}
<div class="container-fluid">
<div class="row" id="top">
    <div class="col-lg-12">
        <div class="row " id="welcome">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <h2>Welcome to the iDigBio Portal</h2>
                <p>
                    If you are familiar with our portal's interface, you can start searching <a href="/portal/search">Specimen Records</a>.
                    If this is your first time here, you might consider browsing our <a href="/portal/tutorial">tutorial</a>.
                    Our data are based on the <a href="http://rs.tdwg.org/dwc/terms/index.htm" target="DCterms">Darwin Core</a> and <a href="http://terms.tdwg.org/wiki/Audubon_Core_Term_List" target="ACterms">Audubon Core</a> standards.
                </p>        
            </div>
        </div>
        
        <div class="row h4" id="search-row">
            <div id="search-form-group" class="form-group">
                <form class="form-inline">
                    Search <span id="recordsets-total"></span> Recordsets: 
                    <div class="input-group">
                        <select id="select-field" class="input-group-addon pull-left" aria-label="Search field">
                            <option value="scientificname">Scientific Name</option>
                            <option value="fulltext">All Fields</option>
                        </select>
                        <input type="text" class="form-control" id="searchbox" autocomplete="off" aria-label="Search term">
                        <a id="searchbtn" class="input-group-addon btn btn-material-lightblue" aria-label="Search">
                            <i class="glyphicon glyphicon-search"></i>
                        </a>
                    </div>
                </form>
            </div>
            
        </div>

        <div class="row h4" id="jump-row">
            <div id="jump">
                Jump To: 
                <a class="jump" href="/portal/search">Advanced Search</a>
                <a class="jump" href="/portal/publishers">Publishers List</a>
                <a class="jump" href="/portal/tutorial">Tutorial</a>
                <a class="jump" href="https://www.idigbio.org/wiki/index.php/IDigBio_API">iDigBio API</a>
            </div>
        </div>

    </div>
</div>
<div class="row" id="stats-row">
    <div class="col-lg-3 col-lg-offset-3 col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1" id="react-wrapper">
        <h4>Specimen Records</h4>
        <h4 id="recordcount"></h4>
        <div class="chart" id="specimen-chart"></div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-5" id="react-wrapper">
        <h4>Media Records</h4>
        <h4 id="mediacount"></h4>
        <div class="chart" id="media-chart"></div>
    </div>
</div>
<div class="row" id="notes">
    <div class="col-lg-6 col-lg-offset-3" id="react-wrapper">
        <p>Click a pie wedge to jump to an advanced search for records with the given kingdom. Click a legend name to remove/add a pie wedge.</p>
    </div>
</div>
</div>
{% endblock %} 

{% block scriptblock %}

{% endblock %}