{% extends "base.html" %}
{% block headblock %}
<link rel="stylesheet" type="text/css" href="/portal/css/media.css">
<meta property="og:image" content="https://api.idigbio.org/v1/mediarecords/{{ id }}/media?quality=webview" />
<meta property="og:site_name" content="iDigBio Specimen Portal" />
{% if record.indexTerms.scientificname -%}
<meta property="og:title" content="iDigBio Media Record | {{ record.indexTerms.scientificname|capitalize }}" />
{% else %}
<meta property="og:title" content="iDigBio Media Record" />
{% endif %}
{% if mediarecord.attribution.description %}
<meta property="og:description" content="{{ mediarecord.attribution.description }}" />
{% elseif mediarecord.attribution.name %}
<meta property="og:description" content="{{ mediarecord.attribution.name }}" />
{% endif %}
<meta property="og:url" content="https://{{ user.host }}/portal/mediarecords/{{ id }}" />
<script type="text/javascript">
{% autoescape false %}
  var data={{ data }};
{% endautoescape %}
</script>
{% endblock %} 

{% block content %}
<input type="hidden" value="{{ id }}" id="recordID">
<div id="react-wrapper">
      {% autoescape false %}
      {{ content }}
      {% endautoescape %}
</div>      
{% endblock %}

