{% extends "base.html" %} 

{% block headblock %}
<link rel="stylesheet" type="text/css" href="/portal/css/search.css">

<link rel="stylesheet" type="text/css" href="/portal/css/jquery-ui-1.10.0.custom.css">

<meta property="og:site_name" content="iDigBio Specimen Portal" />
<meta property="og:title" content="iDigBio Specimen Search" />
<meta property="og:image" content="https://www.idigbio.org/sites/default/files/sites/default/files/idigbio_og.png" />
<meta property="og:description" content="The iDigBio Portal Specimen Search provides the ability to search millions of digitized natural history records from across the U.S.." />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{user.protocol}}://{{ user.host }}/portal/search" />

{% endblock %} 

{% block content %}
<div id="main" style="margin:0px;">
</div>
{% endblock %} 

{% block scriptblock %} {% endblock %}
