{% extends "base.html" %}
{% block headblock %}
<link rel="stylesheet" type="text/css" href="/portal/css/publishers.css">
<link rel="stylesheet" type="text/css" href="/portal/components/react-datetime/css/react-datetime.css">
<link rel="stylesheet" type="text/css" href="/portal/components/react-select/dist/react-select.css">
<meta property="og:site_name" content="iDigBio Specimen Portal" />
<meta property="og:title" content="iDigBio Portal Statistics" />
<meta property="og:image" content="https://www.idigbio.org/sites/default/files/sites/default/files/idigbio_og.png" />
<meta property="og:url" content="{{user.protocol}}://{{ user.host }}/portal/portalstats" />
<meta property="og:description" content="iDigBio Portal Statistics" />
{% endblock %}

{% block content %}
<div id="react-wrapper" class="container-fluid">{% autoescape false %}{{ content }}{% endautoescape %}</div>
{% endblock %}