@import '/portal/components/leaflet.fullscreen/Control.FullScreen.css';

body{
    font-size: 13px;
    background-color:#eee;
} 
#collections-table, #map-block{
    //padding-top:20px;
    background-color: #fefefe;
    box-shadow: 1px 1px 2px #ccc;
    padding-bottom:20px;
}
.link-cell{
    text-align:center;
}
.griddle-body table thead tr th{
    text-align: left;
}
.griddle-filter .filter-container{
    margin-left:0px;
    margin-bottom:10px;
    input{
        width: 206px;
    }
}

#map{
    margin-top:20px;
    width:100%;
    height:450px;
}
div.map-popup label{
    font-size:12px;
    font-weight:bold;
    display: block;
}
.multi{
    max-height:180px;
    overflow: auto;
    margin:5px 0px;
}