@import 'variables.less';

#top{
    //background: url('/portal/img/homepage-bg.png');
    //background-tranparency:.1;
    //color:white;
}
.count{
    text-align: center;
    height:60px;

    color:white;
    font-weight: bold;
    font-size:1.2em;
    letter-spacing: .04em;
    padding:5px;
    .name{
        font-size:.9em;
    }
}
#count-row{
        background-color: lighten(@idbgreen,20%);
}
#search-row{
    text-align:center;
    padding:0px 30px;
    h4{
        text-align: center;
    }
}
h2 {
    text-align: center;
}
h4{
    text-align:center;
    color:#222;
    font-weight: normal;
    font-size: 1.5em;
}
.chart{
    max-height:200px;
    @media(max-width: @screenmed){
      
    }
}
#select-field{
    width:37%;
    font-size:12px;
    height:34px;
}
#search-form-group{
    width:100%;

    @media(max-width: @screenmed){
        width:90%;
        margin:0px 20px;
    }
    .input-group{
        //width:100%;
       
        .btn{
          width:10%;  
        }
        #searchbox{
            width:63.0%;
        }
    }
}
.lightgreen{

    background-color:lighten(@idbgreen,45%);
}
@top: lighten(@idbgreen,45%);
@bottom: lighten(@idbgreen,35%);
#stats-row{

    border-top:2px solid lighten(@idbgreen,35%);
    padding:0px;
    background: @top; /* Old browsers */
    background: -moz-linear-gradient(top,  @top 0%, @bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@top), color-stop(100%,@bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  @top 0%,@bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  @top 0%,@bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  @top 0%,@bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  @top 0%,@bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@top, endColorstr=@bottom,GradientType=0 ); /* IE6-9 */


}
#notes{
    border-bottom:2px solid lighten(@idbgreen,35%);
    text-align:center;
    background:@bottom;
    padding-top:10px;
    p{
        font-size:.8em;
    }
}
#welcome{
    font-size:1.25em;
    line-height: 1.2em;
    padding:30px 0px 0px 0px;
    margin-top:-10px;
    @media(max-width:768px){
        font-size:1.2em;
    }
    p{
        margin:10px;
        text-align: justify;
    }
    @media(max-width: @screenmed){
        font-size:1.2em;
    }
}
#search{
    margin-bottom:30px;
    padding: 0px 10px;
}
#jump{
    text-align:center;
    font-weight:normal;
    .jump{
        margin:8px;
        font-size:1.2em;
        display:inline-block;
        @media(max-width: @screenmed){
            font-size:1.2em;
            margin:6px;
        }

    }
}