@import 'variables.less';

h3{
    color:#333;
    font-size:1.63em;
}
.justify{
    text-align:justify;
}
.button{
    margin:5px;
    display:inline-block;
}
.contact, .contact li{
    text-decoration: none;
    list-style: none;
    word-break:break-word;
}
#contacts{
    margin-top:15px;
}

#collection{
    line-height: 1.25em;
    color:#333;
    text-shadow:0px 1px 0px #fff;
}
#container{
    margin-top:20px;
    #title{
        margin:10px 0px;
        max-width:1600px;
        color:#666;
     
        font-weight:bold;
        padding-bottom:5px;
        font-size:30px;
        .title-addition{
            font-size:.65em;
            margin:0px 15px;
            color:#999;
        }
        .authors{
            font-size: .7em;
            margin-left:15px;
            color:#999;
        }
    }
}
#data-container{
    max-width:1600px;
    margin: 5px auto;

    #data-content{
        //background-color:#f6f6f6;
        width:65%;
        float:left;
        background-color:@lightgrey;
        margin:10px 0px;
        border-top:@brd;
        border-bottom:@brd;
        @media(max-width: @screenmed){
            width: 100%;
            float: none;
        }
    }
    #data-meta{
        width:34%;
        float:right;
        @media(max-width: @screenmed){
            width: 100%;
            float: none;
        }
        #actions{
            margin:0px 0px 30px 0px;
            @media(max-width: @screenmed){
                width: 100%;
                float: none;
            }
            #action-buttons{
                //border-top:@brd;
                padding-top:10px;
                .button{
                    display:inline-block;
                    margin:2px 5px;
                    border-radius:2px;
                    background-color:@idbgreen;
                    color:#efe;
                    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 1px 1px rgba(0, 0, 0, 0.23);                    
                }
            }
        }
        #data-table{
            #meta-table{
                border-top:@brd;
                table{
                    display:block;
                    margin:5px;
                    width:100%;
                    tbody tr{
                        td{
                            padding:1px;
                            width:50%;
                            &.value{
                                width:50%;
                                overflow:hidden;
                                white-space: pre-line;
                                word-break: break-word;
                                a{
                                    overflow:hidden;
                                    white-space: pre-line;
                                }
                            }
                            &.name{
                                font-weight:bold;
                                width:50%;
                            }
                        }
                    }
                }
            }            
        }

    }
    #other-images{
        text-align: left;
        width:64%;
        float:left;
        @media(max-width: @screenmed){
            width: 100%;
            float: none;
        }
        #images-wrapper{
            border-top:@brd;
            margin:10px auto;
            .gallery-image{
                display:relative;
                max-height:100px;
                margin:5px;
                border:@brd;
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 1px 1px rgba(0, 0, 0, 0.23);           
                padding:4px;
                max-width:90%;
            }
        }
    }
    #provider-wrapper{ 
        width:64%;
        float:left;
        @media(max-width: @screenmed){
            width: 100%;
            float: none;
        }
        #provider-info{
            border-top:@brd;
            padding:5px;
            .title{
                margin:10px 0px;
            }
            .contact{
                padding-left:0px;
            }
        }
    }
}
#data-content{
    text-align: center;
}


.logo{
    max-width:50px;
    margin:5px 5px 0px 0px;
    border:1px solid #ccc;
    padding:4px;
    float:left;
}
.title{
    color:#555;
    font-weight:bold;
    margin:4px 0px;
}
h1.title{
    font-size:1.65em;
}
h4.title{
 
    margin:5px;
    font-size:1.3em;
}


#media-wrapper{
    width:90%;
    margin:auto auto;
}
#media-wrapper img{
    border:1px solid #ccc;
    padding:5px;
    max-height: 500px;
    margin:10px;
    background-color: white;
    border-radius:3px;
}
#media-wrapper a{
    display:block;
    margin:5px;
}
#raw-body{
    white-space: pre;
    overflow:scroll;
}
/*
#actions, #media-wrapper, #data-table, #collection{
    border-radius:4px;
    border:1px solid #ddd;
    padding:5px 3px;
    background-color:#efefef;
    box-shadow:0px 1px 0px #aaa;
    text-align:center;
}
#provider-info{
    padding:0px;
    margin:0px;
}
#collection{
    text-align:left;
    width:65%;
    float:left;
    margin:0px;
    color:#555;
    line-height: 1.25em;
    text-shadow:0px 1px 0px #fff;
    padding:0px;
    margin-left:10px;
}
.title{
    font-weight:bold;
}
#contacts{
    text-align: left
}
#data-table{
    margin:10px 0px;
    padding:10px;
    text-align:left;
}

#data-content{
    width:65%;
    float:left;
}
#data-meta{
    width:35%;
    float:right;
}

#media-wrapper{
    padding:0px;
    position: relative;
    margin:auto 10px;
    text-align: center;
}



.value{
    width:60%;
}
.name, .value, .value a{
    display:inline-block;
    word-wrap:break-all;
    word-break:break-word;
    overflow:hidden;
    white-space: pre-line;
}*/

@media(max-width: 1000px){


    #media-wrapper{
        margin:6px 6px;
    }
    #react-wrapper{
     margin:0px 10px;
   }

}

