@import 'variables.less';
@import 'title.less';
@import 'sidenav.less';
@import 'provider.less';
@import 'raw.less';

body{
    font-size: 13px;
    background-color:#eee;
} 

h3{
    color:#333;
    font-size:1.63em;
}

.section{
    margin-bottom:20px;
}


#container{
    //padding-top:20px;
    background-color: #fefefe;
    box-shadow: 1px 1px 2px #ccc;
}
h1#banner{
    color:#999;
    //text-shadow: 1px 1px 1px #ddd;
    margin-left:0px;
    font-size: 2em;
    //font-style: italic;

}
#summary{
    font-size:13px;
    display:block;
    margin:0px 0px;
}
#data-table{

   display: inline-block;
   width: 100%;

    #raw, #record{
        border-top: @brd;
        padding-top:20px;
    }
    
    table{
      
        tbody tr{
            td{
             
                width:50%;
                &.value{
                    width:50%;
                    overflow:hidden;
                    white-space: pre-line;
                    word-break: break-word;
                    a{
                        overflow:hidden;
                        white-space: pre-line;
                    }
                }
                &.name{
                    font-weight:normal;
                    width:50%;
                }
            }
        }
    }
    
    @import 'tabs.less';          
}

#other-images{
    text-align: left;
    width:100%;
    float:left;
    @media(max-width: @screenmed){
        width: 100%;
        float: none;
    }
    #images-wrapper{
        border-top:@brd;
        margin:0px auto;
        padding: 10px 0px;
        .gallery-image{
            display:relative;
            max-height:100px;
            margin:5px;
            border:@brd;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 1px 1px rgba(0, 0, 0, 0.23);           
            padding:4px;
            max-width:90%;
        }
    }
}

#bread-crumbs{
    display:block;
}

#media-wrapper{
    display:block;
    width:100%;
    margin:20px auto;
    position: relative;
    background-color: #F6F5DF;
    //box-shadow: 0px 0px 6px #999;
    text-align: center;
    img{
        border:1px solid #ccc;
        padding:5px;
        max-height: 350px;
        max-width: 450px;
        margin: 20px auto;
        background-color: white;
        border-radius:3px;
        display: block;        
    }
    a{
        display:block;
        margin:5px;

        &.media-link{
            //display:inline-block;
            //float:right;
        }
    }
}