@import 'variables.less';
@import 'contacts.less';

#attribution{ 
    width:100%;
    margin-top:40px;
    h4.title{
        //font-size: 1.3em;
    }
    #provider-info{
        font-size: 13px;
        .title{
            margin:10px 0px;
            //color:#555;
        }
        .logo{
            max-height:100px;
            max-width: 130px;
            margin:5px 10px 0px 0px;
            border:1px solid #ccc;
            padding:4px;
            float:left;
        }
        .justify{
            text-align:justify;
            line-height: 1.3em;
        }
        border-top:@brd;
        padding:5px 0px;
        #description{
            display: block;
          
                text-align: justify;
           
        }            
    }
}