@import 'variables.less';
@import 'title.less';
@import 'sidenav.less';
@import 'provider.less';
@import 'raw.less';

h3{
    color:#333;
    font-size:1.63em;
}
h4.title{
    color:#555;
    font-weight:normal;
    margin:4px 0px;
    font-size: 1.3em;
}

body{
    min-height:800px;
    position: relative;
}

.section{
    //margin-bottom:60px;
}
#content{
    //box-shadow: 1px 1px 2px #ccc;
}

#col-nav{
    background-color:@lightgrey;
    height:100%;
}

#summary{
    font-size:13px;
    display:block;
    margin:20px 0px;
}

#summary-info{
    margin-bottom:40px;
    .sec{
        width: 49%;
        margin-right: 1%;
    }
    .sec span.name{
        display:inline-block;
        clear:both;
        float:left;
    }
    //background-color: #fafafa;
    //padding:5px;
    //border: 1px solid #ccc;
    border-radius: 3px;
    .arrow{
        color:#ccc;
    }
    .list-table{
        border-radius:3px;
        border: 1px solid #ccc;
        font-size:12px;
        //width: 100%;
        td{
            padding:0px 5px;
            border:1px solid #ccc;
        }
        .list-headers{
            background-color: @lightgrey;

        }
        .list-values{
            background-color: white;
        }
    }
    .sec{
        font-size: 13px;
        table{
            td{
                padding: 1px 0px;  
            }
        }
        .name{
            color:#333;
            text-align: left;
            min-width:80px;
        }
        .val{
            color:#666;
            text-align: left;
            padding-left:8px;
        }
    }
}

#data{
    margin-top:30px;
    #record, #flags{
        border-top:@brd;
        font-size:13px;
        padding-top:20px;
        .field-name{
            font-weight:normal;
            color:#555;
            //width:300px;
        }
        .field-value, .field-value a{
            //display:inline-block;
            word-wrap:break-all;
            word-break:break-word;
            overflow:hidden;
            white-space: pre-line;
            color:#555;
        }
    }
    ul{
        font-size: 17px;
        padding:0px;
        margin:0px;
        li{
            cursor: pointer;
            list-style-type: none;
            display:inline-block;
            margin-right:20px;
            &.active{
                color: #333;
                border-bottom: 3px solid @idbgreen;
            }
            color:#666;
        }
    }
}

#map{
    //width: 50%;
    //height: 150px;
    //padding:5px;
    margin: 10px 0px;
    display:none;
    //float:right;
    .title{
        margin-left:0px;
        padding-left:0px;
    }
    #map-wrapper{
        //border-top:@brd;
        #map-box{
            height:250px;
            margin:15px auto 5px auto;
            border:@brd;
            //box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 1px 1px rgba(0, 0, 0, 0.23);                 
        }
        #map-geopoint{
            width:100%;
            font-size:.9em;
            span{
                margin:0px 5px 0px 0px;
            }
        }                
    }
}
#media{
    margin-top:30px;
    margin-bottom:10px;
    #gallery{
        width:100%;
    
        margin:auto auto;
        border-top:@brd;
        padding:10px 0px;
        
        .gallery-image{
            display:relative;
            max-height:100px;
            margin:5px;
            border:@brd;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19), 0 1px 1px rgba(0, 0, 0, 0.23);
            padding:4px;
            max-width:90%;
        }
    }        
}