h3{
    color:#333;
    font-size:1.63em;
}
h4.title{
    text-align:center;
    font-size: 1.2em;
}
h1{
    font-size:1.65em;
}
.contact, .contact li{
    text-decoration: none;
    list-style: none;
    width:170px;
    word-break:break-word;
}

#contacts{
    margin-top:15px;
}
.bold{
    font-weight:bold;
}
.button{
    margin:5px;
}
.field-name{
    font-weight:bold;
    color:#555;
    width:300px;
}
#images, #actions, #map, #collection{
    border-radius:4px;
    border:1px solid #ddd;
    padding:5px 3px;
    background-color:#f6f6f6;
    box-shadow:0px 1px 0px #aaa;
    text-align:center;
}

#provider-info{
    padding:0px 10px;
}
#map{
    display:none;
}

#gallery-wrapper{
    margin:auto auto;
}
#actions{
    text-align: center;
    margin-bottom:10px;
}
#map{
    margin:10px 0px;
}
#actions button{
    display:inline-block;
    margin:2px 5px;
}
.gallery-image{
    display:relative;
    max-height:100px;
    margin:5px;
    box-shadow:0px 0px 2px #666;
    padding:4px;
    max-width:90%;
}
.image-box{
    position:relative;
    width:180px;
    height:180px;
    float:left;
    margin:5px;
}
.record{
    display:relative;
    border:1px solid #ddd;
    margin:0px 15px 5px 0px;
    min-height: 300px;
    width:97%;
    border-radius:0px 4px 4px 4px;
    background-color: white;
    box-shadow:0px 1px 0px #aaa;
    padding:4px;
}
.record:first-child div{
    display:block;
}
.record-table{
    margin:8px;
    padding:4px;
    width:99%;
}
#collection,.record-table td{
    text-align:left;
}
/*.section{
    display:none;
}*/
.section-hide{
    display:none;
}
#data-container{
    max-width:1600px;
    margin: 10px auto;
    padding:10px;
    background-color:#f9f9f9;
    border:1px solid #dedede;
    border-radius:4px;
}
#data-content{
    width:65%;
    float:left;
}
#data-content .loader, #collection .loader{
    height:200px;
    width:100%;
    text-align:center;
    position:relative;
}
 .loader img{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}
#collection{
    width:63.2%;
    float:left;
    margin-top:5px;
    color:#333;
    line-height: 1.25em;
    text-shadow:0px 1px 0px #fff;
}
#data-meta{
    margin-top:40px;
    width:35%;
    float:right;
}
.field-value, .field-value a{
    display:inline-block;
    word-wrap:break-all;
    word-break:break-word;
    overflow:hidden;
    white-space: pre-line;
    color:#555;
}
.justify{
    text-align:justify;
}
.logo{
    max-height:45px;
    margin:5px 5px 0px 0px;
    border:1px solid #ccc;
    padding:4px;
    float:left;
}
#map-box{
    width:98%;
    height:200px;
    margin:auto auto;
    border:1px solid #ccc;
}
#raw-body{
    white-space:pre;
}
.tabs{
    margin:7px 0px -1px -2px;
    padding:0px;
    display:block;
    list-style: none;
}
.tab{
    display:inline-block;
    padding:0px;
    margin:0px 2px;
}
.tab a{
    position:relative;
    display:inline-block;
    border:1px solid #ddd;
    padding:6px 6px 6px 6px;
    background-color:#efefef;
    color:#0088cc;
    cursor:pointer;
    border-radius:4px 4px 0px 0px;
    letter-spacing: .01em;
    text-decoration: none;
    margin:0px;
}
.tab a:hover{
    background-color:#dfdfdf;
    text-decoration: none;
}
.tab.active a{
    background-color:white;
    border-bottom:1px solid white;
    cursor:default;
    color:#666;
}
.title{
    color:#555;
    font-weight:bold;
    margin:4px 0px;
    
}
#title{
    margin:auto auto;
    max-width:1600px;
    color:#333;
}
@media(max-width: 800px){
    #data-content{
        width:100%;
        float:none;
    }
    #data-meta{
        margin-top:5px;
        width:100%;
        float:none;
    }
    #images, #actions, #map, #collection{
        width:97%;
        margin:5px 4px 5px 1px;
    }
    #collection{
        margin-top:0px;
    }
    .field-name, .field-value{
        width:50%;
    }
}