@bggrey: #fafafa;
@idbgreen: #6aaa51;
@idblightgreen: #C0E4B3;
@idblightred: #FFDDC7;
// Material colors palette
@red: #F44336;
@pink: #E91E63;
@purple: #9C27B0;
@deeppurple: #673AB7;
@indigo: #3F51B5;
@lightblue: #03A9F4;
@cyan: #00BCD4;
@teal: #009688;
@lightgreen: #8BC34A;
@lime: #CDDC39;
@lightyellow: #FFEB3B;
@orange: #FF9800;
@deeporange: #FF5722;
@grey: #9E9E9E;
@bluegrey: #607D8B;
@brown: #795548;
@lightgrey: #ECECEC;
#main{
    background-color: @bggrey;
}
#search{
    width:25%;
    background-color: @bggrey;
    display:inline-block;
    float:left;
    #search-any{
        margin:0px 10px;
    }
    .checkbox{
        display:inline-block;
        margin-right:20px;
        font-size:1.1em;
    }
}

#search-filters{
    width:100%;
    margin:0px;
    padding:0px;
   

    .filter{
        padding:3px;
        width:200px;
        height:100px;
        margin:0px;
        background-color:@idblightgreen;
        display:inline-block;
        float:left;
        textarea{
            border-radius:3px;
            margin:3px;
        }
    }
}
#filter-sort{
    width:50%;
    display:block;
    float:left;
     border-bottom:1px solid #999;
     min-height:100px;
    select{
        display:inline-block;
        width:90%;
        background-color: white;
        height:22px;
        margin:0px 10px;
        border-radius:3px;
    }
    label{
        margin:2px 10px;
    }
}
#filter-control{
    min-height:100px;
    width:50%;
    min-width:100px;
    background-color: @idblightgreen;
    padding:10px;
    display:block;
    float:left;
     border:1px solid #999;
    border-bottom:1px solid green;
    border-right:none;
    select{
        width:90%;
        height:25px;
        border-radius:4px;
        background-color: white;
        
    }
    h4{
        margin-top:5px;
    }
}
#map-box{
    width:75%;
    display:inline-block;
    float:left;

}
#map{
    width:100%;
    max-width:800px;
    height:400px;
    display:block;
    border:1px solid #999;
}

@media (max-width: 1000px){
    #map-box, #search, #search-any{
        float:none;
        width:100%
    }

}