
@import 'search/variables.less';
@import 'search/filters.less';
@import 'search/results.less';
@import 'search/sorting.less';
@import 'search/mapping.less';

#main,#react-wrapper,#top,body{
    background-color: @bggrey;
    margin:0px;
    padding:0px;
}
header{
    margin-bottom:0px;
}
.bold{
    font-weight:bold;
}
#search-arrow-img{
    width:32px;
    margin-bottom:5px;
    margin-right:5px;
}
#top{
    //border-bottom:1px solid #e9e9e9;
    margin:0px;
    //background-color: @idblightgreen;
}
#map{
    margin:5px;
    margin-top:0px;
    margin-left:455px;
    height:470px;
    border: @brd;
    border-radius:4px;  
}

#search{
    width:450px;
    height:470px;
    float:left;
    background-color: @bggrey;
    border-right: @brd;
    border-bottom: @brd;
    border-top: @brd;
    box-shadow: 1px 1px 1px #ddd;
    display:inline-block;
    #search-any{
        margin:0px 10px;
        h3:first-of-type{
            margin-top:10px;
        }
    }
    .checkbox{
        display:inline-block;
        margin-right:20px;
        margin-left:10px;
        font-size:1.1em;
    }
    .checkbox:first-of-type{
        padding-left:40px;
    }
}

#options{
    width:100%;
    margin:0px;
    padding:0px;
    heiht:inherit;
    #options-menu{
        list-style-type: none;
        margin:5px 5px 1px 15px;
        padding:0px;
        
        position:relative;
        z-index:100;

        li, #advanced-menu li{
            display: inline;
            border: @brd2;
            border-bottom: none;
            margin:0px 2px;
            padding:3px 6px;
            border-radius:3px 3px 0px 0px;
            background-color: white;
        }

        li:hover{
            cursor:pointer;
        }
        li.active{
            background-color: @bggreydark;
            border-bottom:1px solid @bggreydark;
            padding-bottom:3px; 
        }
        li.active:hover{
            cursor:auto;
        }
    }
    .section{
        display:none;
        width:100%;
        border-top: @brd2;
        border-radius:none;
        margin:0px;
        min-height:240px;
        &.active{
            display:block;
        }
    }
    .option-group{
        margin:0px;
        margin-bottom:0px;
        background-color: @bggreydark;
        display:table;
        width:100%;
        padding:5px;
        border-bottom: @brd2;
        select{
            display:inline;
            background-color: white;
           
            margin:0px 2px;
            border-radius:3px;
            float:right;
        }
        label{
            margin-top:8px;
            margin-left:10px;
            dispay:inline;
            float:left;
        }
        .name{
            width:50%;
        }
        .direction{
            width:25%;
        }
    }
}





@media(max-width:1360px){
    #search{
        width:400px;
    }

    #map{
        margin-left:405px;
    }
}
@media(max-width:1060px){
    #search{
        width:375px;
    }
    #map{
        margin-left:380px;
    }


}
/*@media(max-width:1160px){
    #search{
        width:40%;
    }
    #map{
        width:59%;
    }
}
@media(max-width:1060px){
    #search{
        width:45%;
    }
    #map{
        width:54%;
    }
}*/
@media(max-width:960px){
    #search{
        width:355px;
    }
    #map{
        margin-left:360px;
    }
}
@media(max-width: 660px){
    #search {
        float:none;
        width:100%
    }
    #filter-selects{
       select{
         width:160px;
       }
    }
    #filters-holder{
        height:100px;
    }
    #search-any{
        width:93%;
    }
    #map{
        margin:5px;
        float:none;
        width:97%;
    }
}

