@import 'variables.less';

#container {
  h3 {
    color: #1a1a1a;
  }

  .control-label {
    color: #1a1a1a;
  }

  .c3 text,
  .c3 svg text,
  .c3 tspan,
  .c3-legend-item text,
  .c3-axis text,
  .c3-chart-arc text {
    fill: #111111 !important;
    opacity: 1 !important;
    text-shadow: none;
  }


  .c3-axis path,
  .c3-axis line {
    stroke: #4a4a4a;
  }
}